/** Reset CSS **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  display: inline-table; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
/** Common Elements  **/
body {
  /*background: #bad0e5 url("../images/background.png") top center no-repeat;*/
  background: #cbdbeb;
  box-shadow: inset 0 0 250px #608bbc;
  color: #464646;
  font: normal 13px/17px "Cabin", arial, sans-serif;
  border-top: 60px solid #303030;
  min-width: 1300px; }

a {
  color: #3571aa;
  text-decoration: none; }

li strong {
  font-weight: 600;
  color: #494949; }

h1 {
  font: 600 24px/30px "Ubuntu", arial, sans-serif !important;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
  margin: 20px 0 20px !important;
  color: #3b4b79 !important; }

h2 {
  font: 600 20px/26px "Ubuntu", arial, sans-serif !important;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
  display: block;
  margin-bottom: 10px; }

h3 {
  font: 600 16px/21px "Ubuntu", arial, sans-serif !important;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
  margin-bottom: 10px; }

h4 {
  font: 600 14px/18px "Ubuntu", arial, sans-serif;
  text-transform: uppercase; }

p {
  margin: 10px 0; }

strong {
  font-weight: 600; }

#container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px #b1c6dd;
  margin: 0 auto;
  padding-bottom: 25px;
  position: relative;
  width: 985px;
  z-index: 2; }

.block {
  display: inline-block !important; }

.bold {
  font-weight: 600; }

.clear {
  clear: both; }

.share_fb {
  background: transparent url("../images/icon_share_fb.png") top left no-repeat;
  display: inline-block;
  height: 17px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 5px 0 10px;
  vertical-align: 0px;
  padding-left: 22px; }

.share_tw {
  background: transparent url("../images/icon_share_tw.png") top left no-repeat;
  display: inline-block;
  height: 17px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 3px;
  vertical-align: 0px;
  padding-left: 22px; }

/** Header Elements **/
#connect_tab {
  background: transparent url("http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/connect_tab.png") top left no-repeat;
  position: absolute;
  height: 362px;
  width: 97px;
  left: 50%;
  margin-left: -650px;
  top: 130px;
  z-index: 3; }
  #connect_tab p {
    color: #828282;
    margin: 10px 0 10px -5px;
    text-align: center; }
  #connect_tab iframe {
    display: block !important;
    position: relative;
    left: 15px;
    margin-bottom: 10px; }
  #connect_tab iframe:nth-child(5n) {
    display: block;
    position: relative;
    left: 20px; }
  #connect_tab div.fb-like {
    display: block;
    margin-top: 10px;
    left: 5px !important;
    position: relative; }
  #connect_tab #gplus_add, #connect_tab #___plusone_0 {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 18px;
    position: relative; }
  #connect_tab .twitter-share-button {
    margin-left: 0px;
    margin-top: 10px; }
  #connect_tab .twitter-follow-button {
    margin-left: -3px; }
  #connect_tab .pin-it-button {
    position: relative;
    left: 22px !important; }

#connect_tab_pdc {
  background: transparent url("http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/connect_tab_pdc.png") top left no-repeat;
  position: fixed;
  height: 55px;
  width: 102px;
  left: -15px;
  top: 420px;
  z-index: 3;
  padding-left: 35px;
  box-shadow: 3px 3px 3px #999;
  border-radius: 0 3px 3px 0; }
  #connect_tab_pdc .pdc {
    position: relative;
    width: 110px;
    margin-left: -15px;
    margin-top: 4px;
    z-index: 3; }

header {
  background: #e9f0f6; }

#cta {
  display: block;
  margin: -120px auto 0;
  text-align: center; }
  #cta a#demo {
    background: transparent url("../images/btn_sign_up.jpg") top left no-repeat;
    display: inline-block;
    height: 44px;
    padding: 15px 3px;
    width: 217px;
    text-indent: -9999px; }
  #cta a#log_in {
    background: transparent url("../images/btn_log_in.jpg") top left no-repeat;
    display: inline-block;
    height: 44px;
    padding: 15px;
    width: 89px;
    text-indent: -9999px; }

#menu-primary {
  display: block;
  margin: -15px auto 0;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 575px; }
  #menu-primary li {
    display: inline-block;
    position: relative;
    z-index: 6; }
    #menu-primary li a {
      color: #557899;
      font-size: 12px;
      font-weight: 600;
      padding: 10px 10px 14px 6px;
      text-decoration: none;
      text-transform: uppercase; }
      #menu-primary li a:hover, #menu-primary li a.active {
        color: #a3bf2f; }
      #menu-primary li a.arrow {
        background: transparent url("../images/blue_arrow.png") center center no-repeat;
        height: 7px;
        width: 6px;
        padding: 5px 8px 14px;
        position: relative;
        display: inline-block;
        margin-right: -2px;
        margin-left: 3px;
        vertical-align: -8px; }
        #menu-primary li a.arrow.active {
          background: white url("../images/green_arrow.png") center center no-repeat;
          border: 1px solid #ebebeb;
          height: 6px;
          width: 7px;
          padding: 5px 8px 14px;
          position: relative;
          display: inline-block;
          margin-right: -3px;
          margin-left: 1px;
          margin-top: -5px;
          vertical-align: -8px; }
          #menu-primary li a.arrow.active:after {
            content: '';
            display: block;
            height: 10px;
            width: 3px;
            position: absolute;
            z-index: -1;
            top: -23px;
            right: 9px;
            box-shadow: 9px 30px 6px black;
            -webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(4deg);
            -moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(0deg); }
    #menu-primary li ul.sub-menu {
      position: absolute;
      top: 20px;
      left: 1px;
      display: none;
      padding-top: 0;
      padding-bottom: 5px;
      width: 200px;
      text-align: left;
      z-index: 10; }
      #menu-primary li ul.sub-menu:before {
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        position: absolute;
        z-index: -1;
        bottom: 6px;
        left: 8px;
        box-shadow: -10px 5px 8px black;
        -webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(-27deg);
        -moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(-27deg); }
      #menu-primary li ul.sub-menu:after {
        content: '';
        display: block;
        height: 100px;
        width: 3px;
        position: absolute;
        z-index: -1;
        top: -20px;
        right: 8px;
        box-shadow: 9px 30px 8px black;
        -webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(4deg);
        -moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(0deg); }
      #menu-primary li ul.sub-menu li {
        background: #f9fafa;
        border-top: 1px solid #fff;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        display: block;
        text-align: left;
        z-index: 10;
        position: relative;
        padding: 3px 0; }
        #menu-primary li ul.sub-menu li:hover {
          padding: 3px 0; }
          #menu-primary li ul.sub-menu li:hover a {
            background: #b6d435;
            /* Old browsers */
            background: -moz-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f5f9), color-stop(100%, #e0ecf3));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* Opera11.10+ */
            background: -ms-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* IE10+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f5f9', endColorstr='#e0ecf3',GradientType=0 );
            /* IE6-9 */
            background: linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* W3C */ }
        #menu-primary li ul.sub-menu li a {
          color: #557899;
          display: block;
          font-size: 11px;
          font-weight: 600;
          padding: 12px 20px 10px; }
          #menu-primary li ul.sub-menu li a.arrow {
            display: none; }
        #menu-primary li ul.sub-menu li ul.sub-menu {
          left: 0px;
          padding-top: 0px;
          position: relative;
          top: 0px;
          width: 198px;
          display: block; }
          #menu-primary li ul.sub-menu li ul.sub-menu:before, #menu-primary li ul.sub-menu li ul.sub-menu:after {
            content: '';
            display: none; }
          #menu-primary li ul.sub-menu li ul.sub-menu li {
            padding: 0px !important;
            border: none; }
            #menu-primary li ul.sub-menu li ul.sub-menu li:hover {
              box-shadow: none;
              border: none;
              background: #e9f3fc !important; }
            #menu-primary li ul.sub-menu li ul.sub-menu li a {
              background: #fff;
              border: none;
              color: #6b6d6e;
              font-size: 11px;
              font-family: 'Cabin';
              line-height: 11px;
              font-weight: 400;
              padding: 5px 20px 5px;
              text-transform: none; }
              #menu-primary li ul.sub-menu li ul.sub-menu li a:hover {
                background: #e9f3fc;
                /* Old browsers */
                background: -moz-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f3fc), color-stop(100%, #e9f3fc));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* Opera11.10+ */
                background: -ms-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* IE10+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f3fc', endColorstr='#e9f3fc',GradientType=0 );
                /* IE6-9 */
                background: linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* W3C */ }

#hdr_nav {
  float: right;
  text-align: right;
  display: inline-block;
  margin-top: -90px; }
  #hdr_nav nav li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: right; }
    #hdr_nav nav li a {
      color: #a9a9a9;
      margin-right: 10px;
      text-decoration: none; }

span.logo {
  background: transparent url("../images/logo_tab.png") top left no-repeat;
  display: inline-block;
  height: 88px;
  margin-top: -20px;
  margin-left: -1px;
  position: relative;
  width: 221px; }
  span.logo a {
    background: url(http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/logo.png);
    width: 137px;
    height: 44px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    text-indent: -9999px; }

#crumbs {
  color: #717171;
  font-size: 11px;
  margin-left: 10px;
  position: relative;
  top: 15px;
  text-align: left;
  z-index: 100; }
  #crumbs a {
    color: #557899;
    margin: 0 5px;
    text-decoration: none; }
  #crumbs .current {
    margin: 0 5px; }

#logo {
  margin-top: 20px;
  margin-left: 30px; }

#search {
  margin-right: 10px;
  margin-top: 15px; }

#searchform label {
  display: none; }
#searchform #s {
  background: transparent url("../images/search.png") top left no-repeat;
  border: none;
  box-shadow: none;
  padding: 10px 0 10px 5px;
  outline: none;
  width: 181px; }

#searchsubmit {
  display: none; }

#search_box {
  background: transparent url("../images/search.png") top left no-repeat;
  border: none;
  height: 30px;
  margin-right: 10px;
  width: 181px; }

/** Slider Elements **/
#slider {
  background: url("../images/slider_back.jpg") top left no-repeat;
  display: block;
  height: 648px;
  position: relative;
  width: 985px; }
  #slider .product_image {
    margin: 0 auto 0;
    position: relative;
    display: block;
    /*margin-left:65px;*/
    z-index: 1; }

#slider_nh {
  background: url("../images/slider_back_nh.jpg") top left no-repeat;
  height: 465px;
  width: 985px;
  padding-top: 25px; }

#slides {
  height: 381px;
  padding-top: 30px;
  position: relative;
  width: 985px; }
  #slides .pagination {
    padding-left: 0;
    text-align: center;
    margin-top: -20px;
    z-index: 100; }
    #slides .pagination li {
      display: inline-block;
      position: relative;
      z-index: 100; }
      #slides .pagination li a {
        background: transparent url("../images/hero_off.png") top left no-repeat;
        text-indent: -9999px;
        height: 14px;
        margin: 0 3px;
        width: 14px;
        display: inline-block; }
  #slides li.current a {
    background: transparent url("../images/hero_on.png") top left no-repeat; }
  #slides a.next {
    position: absolute;
    opacity: 0.7;
    top: 180px;
    z-index: 2; }
  #slides a.prev {
    position: absolute;
    opacity: 0.7;
    top: 180px;
    z-index: 2;
    left: -50px; }
  #slides a.next {
    right: -50px; }

.slides_container {
  width: 985px;
  height: 381px;
  position: relative;
  z-index: 2; }
  .slides_container div {
    width: 985px;
    height: 381px;
    display: block;
    position: relative;
    z-index: 1; }
    .slides_container div img {
      margin-top: -25px;
      margin-left: 20px; }

#news {
  background: url("../images/news_back.png") top left no-repeat;
  height: 49px;
  margin-left: -2px;
  padding: 20px;
  position: relative;
  width: 525px; }
  #news h4 {
    color: #3f3f3f;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px; }
  #news a.prev {
    left: 5px;
    top: 8px; }
  #news a.next {
    right: 5px;
    top: 8px; }

.news_container {
  width: 560px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin-top: -38px; }
  .news_container img {
    display: none; }
  .news_container div {
    display: inline-block;
    position: absolute;
    margin-left: 90px;
    margin-top: 2px;
    width: 355px; }
  .news_container h3 {
    color: #4d4a42;
    font-family: 'Cabin', sans-serif;
    font-weight: normal !important;
    text-transform: none;
    text-shadow: none; }
  .news_container p {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    color: #797979;
    font-size: 12px;
    font-style: italic; }

#news_nav_back {
  background: url("../images/news_nav_back.jpg") top left no-repeat;
  height: 29px;
  position: absolute;
  left: 132px;
  width: 50px;
  top: 19px; }
  #news_nav_back a.next, #news_nav_back a.prev {
    position: absolute;
    z-index: 2; }

#news_pdc {
  float: right;
  margin-top: -89px;
  margin-right: 5px; }
  #news_pdc img {
    border-radius: 4px; }

/** Main Content **/
#content_mid {
  margin-top: -225px;
  position: relative;
  z-index: 2; }
  #content_mid.product {
    margin-top: -300px;
    position: relative;
    z-index: 2; }
  #content_mid.secondary, #content_mid.small_hero {
    margin-top: -245px;
    position: relative;
    z-index: 2; }

#container_mid {
  background: transparent url("../images/content_top.png") top center no-repeat;
  padding-top: 218px;
  width: 985px;
  height: 218px; }

.product #container_mid {
  background: transparent url("../images/product_content_top.png") top center no-repeat;
  padding-top: 747px;
  width: 985px; }

.secondary #container_mid {
  background: transparent url("../images/secondary_content_top.png") top center no-repeat;
  padding-top: 230px;
  width: 985px;
  height: auto; }

.small_hero #container_mid {
  background: transparent url("../images/product_content_top.png") top center no-repeat;
  padding-top: 747px;
  width: 985px;
  height: auto; }

#container_end {
  background: transparent url("../images/content_bottom.png") top center no-repeat;
  display: block;
  height: 20px;
  width: 985px; }

.product #container_end {
  background: transparent url("../images/product_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px; }

.secondary #container_end {
  background: transparent url("../images/secondary_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px;
  margin-bottom: -100px; }

.small_hero #container_end {
  background: transparent url("../images/product_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px; }

#content {
  background: transparent url("../images/content_mid.png") top center repeat-y;
  height: auto; }

.product #content {
  background: transparent url("../images/product_content_mid.png") top center repeat-y;
  height: auto; }

.secondary #content {
  background: transparent url("../images/secondary_content_mid.png") top center repeat-y;
  height: auto; }

.small_hero #content {
  background: transparent url("../images/product_content_mid.png") top center repeat-y;
  height: auto; }

#main_content {
  width: 710px;
  margin-left: 35px;
  margin-top: -200px;
  float: left; }
  #main_content h1 {
    margin-bottom: 40px; }
  #main_content p {
    margin: 0 0 10px; }

.product #main_content {
  width: 590px;
  margin-left: 55px;
  margin-top: -720px;
  float: left;
  min-height: 950px; }
  .product #main_content h1 {
    margin-right: 20px;
    text-transform: uppercase; }
    .product #main_content h1 img {
      vertical-align: -6px;
      margin-left: 10px; }
  .product #main_content h2 {
    color: #494949;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: none !important; }
  .product #main_content h3 {
    color: #494949;
    margin-bottom: 20px;
    margin-top: 30px; }
  .product #main_content p.bold {
    color: #595959 !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; }
  .product #main_content img {
    margin-left: 0px;
    vertical-align: -15px; }
  .product #main_content ul {
    padding-left: 20px;
    margin-top: 20px; }
    .product #main_content ul #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase; }
      .product #main_content ul #share .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .product #main_content ul #share .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .product #main_content ul #share .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; }
    .product #main_content ul li {
      color: #4d4a42;
      font-size: 13px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; }

.secondary #main_content {
  width: 623px;
  margin-left: 55px;
  margin-top: -200px;
  float: left; }
  .secondary #main_content h1 {
    margin-right: 20px;
    text-transform: uppercase; }
    .secondary #main_content h1 img {
      vertical-align: -6px;
      margin-left: 10px; }
  .secondary #main_content h2 {
    color: #494949;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: none !important; }
  .secondary #main_content h3 {
    color: #494949;
    margin-bottom: 20px;
    margin-top: 30px; }
  .secondary #main_content p.bold {
    color: #595959 !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; }
  .secondary #main_content img {
    margin-left: 0px;
    vertical-align: -15px; }
  .secondary #main_content ul {
    padding-left: 20px;
    margin-top: 35px; }
    .secondary #main_content ul #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase; }
      .secondary #main_content ul #share .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .secondary #main_content ul #share .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .secondary #main_content ul #share .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; }
    .secondary #main_content ul li {
      color: #4d4a42;
      font-size: 13px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; }

.small_hero #main_content {
  width: 600px;
  margin-left: 55px;
  margin-top: -720px;
  float: left; }
  .small_hero #main_content p {
    color: #797671;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 10px; }
    .small_hero #main_content p.bold {
      color: #595959 !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 30px 0; }
  .small_hero #main_content h1 {
    font-weight: 600; }
    .small_hero #main_content h1 img {
      margin-left: 10px; }
  .small_hero #main_content h2 {
    font-family: 'Cabin',sans-serif !important;
    color: #494949;
    text-transform: none !important;
    text-shadow: none; }
  .small_hero #main_content img {
    margin-left: 0px;
    vertical-align: -15px; }
  .small_hero #main_content ul {
    padding-left: 20px;
    margin-top: 35px; }
    .small_hero #main_content ul #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase; }
      .small_hero #main_content ul #share .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .small_hero #main_content ul #share .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .small_hero #main_content ul #share .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; }
    .small_hero #main_content ul li {
      color: #4d4a42;
      font-size: 13px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; }

#marketing {
  margin-bottom: 15px;
  position: relative;
  margin-left: -2px;
  margin-top: 5px;
  width: 668px;
  height: 55px;
  padding: 20px;
  text-align: left;
  background: #a3be2f;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYmUyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWEwMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #a3be2f 0%, #8aa022 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a3be2f), color-stop(100%, #8aa022));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a3be2f 0%, #8aa022 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a3be2f 0%, #8aa022 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a3be2f 0%, #8aa022 100%);
  /* IE10+ */
  background: linear-gradient(top, #a3be2f 0%, #8aa022 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3be2f', endColorstr='#8aa022',GradientType=0 );
  /* IE6-8 */ }
  #marketing a {
    position: absolute;
    right: 25px;
    bottom: 13px; }

.demo {
  background: #b6d435;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* W3C */
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 1px #8da526; }
  .demo:hover {
    background: #bcdb33;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* W3C */
    box-shadow: 0 0 1px #a4bd35; }
  .demo span {
    color: #f1f9ce;
    font-size: 24px;
    line-height: 25px; }
    .demo span img {
      padding-left: 3px; }

#sidebar {
  float: left;
  margin-left: 40px;
  margin-top: -150px; }
  #sidebar .demo {
    color: #676768;
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: block;
    font-weight: 500;
    text-transform: uppercase; }
    #sidebar .demo span.large_green {
      color: #98b226;
      font-size: 25px;
      font-weight: 700;
      line-height: 26px;
      padding: 0 5px 10px 0; }
  #sidebar #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-top: 25px;
    text-transform: uppercase; }
    #sidebar #fans_served span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; }

.product #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -690px;
  width: 253px; }
  .product #sidebar #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase; }
    .product #sidebar #fans_served span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; }
  .product #sidebar h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  .product #sidebar h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  .product #sidebar p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  .product #sidebar a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .product #sidebar .whitepaper:last-child {
    border: none; }
  .product #sidebar .whitepaper .title {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .product #sidebar .whitepaper p {
    color: #797979;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px; }
  .product #sidebar .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce; }
    .product #sidebar .demo:hover {
      background: #bcdb33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* W3C */
      box-shadow: 0 0 1px #a4bd35; }
    .product #sidebar .demo span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px; }
      .product #sidebar .demo span img {
        padding-left: 3px; }

.secondary #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -150px;
  width: 230px; }
  .secondary #sidebar #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase; }
    .secondary #sidebar #fans_served span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; }
  .secondary #sidebar h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  .secondary #sidebar h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  .secondary #sidebar p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  .secondary #sidebar a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .secondary #sidebar .whitepaper:last-child {
    border: none; }
  .secondary #sidebar .whitepaper .title {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .secondary #sidebar .whitepaper p {
    color: #797979;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px; }
  .secondary #sidebar .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce; }
    .secondary #sidebar .demo:hover {
      background: #bcdb33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* W3C */
      box-shadow: 0 0 1px #a4bd35; }
    .secondary #sidebar .demo span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px; }
      .secondary #sidebar .demo span img {
        padding-left: 3px; }

.small_hero #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -690px;
  width: 253px; }
  .small_hero #sidebar #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase; }
    .small_hero #sidebar #fans_served span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; }
  .small_hero #sidebar h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  .small_hero #sidebar h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  .small_hero #sidebar p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  .small_hero #sidebar a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .small_hero #sidebar .whitepaper:last-child {
    border: none; }
  .small_hero #sidebar .whitepaper .title {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .small_hero #sidebar .whitepaper p {
    color: #797979;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px; }
  .small_hero #sidebar .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce; }
    .small_hero #sidebar .demo:hover {
      background: #bcdb33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* W3C */
      box-shadow: 0 0 1px #a4bd35; }
    .small_hero #sidebar .demo span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px; }
      .small_hero #sidebar .demo span img {
        padding-left: 3px; }

#clients {
  float: left;
  margin: 45px 0 45px 35px;
  padding: 0 10px;
  width: 355px; }
  #clients h2 {
    color: #494949;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px; }
  #clients p {
    color: #6e6e6e;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px; }
  #clients a {
    background: transparent url("../images/btn_view_more.png") top left no-repeat;
    display: block;
    height: 32px;
    margin-top: 10px;
    position: relative;
    width: 135px; }

#outtakes {
  float: right;
  margin: 45px 35px 45px 0;
  width: 540px; }
  #outtakes div {
    display: block;
    position: relative; }
    #outtakes div a {
      color: #52799E;
      font-family: 'Ubuntu';
      font-weight: 600;
      font-size: 11px;
      line-height: 14px;
      position: relative;
      padding-top: 4px;
      text-transform: uppercase;
      display: block;
      margin-top: 10px; }
      #outtakes div a img {
        vertical-align: text-top; }
  #outtakes img {
    margin-right: 25px; }
  #outtakes h3 {
    color: #494949;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px; }
  #outtakes p {
    color: #6e6e6e;
    font-size: 14px;
    line-height: 17px; }
  #outtakes hr {
    border: none;
    height: 1px;
    background: #d3d5d5;
    margin: 20px 0; }

/** Landing Pages **/
#featured {
  position: relative;
  text-align: center;
  width: auto; }
  #featured img {
    position: relative;
    margin: 0 auto; }

#platforms {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  text-align: center;
  padding: 10px 30px; }
  #platforms .cont_1, #platforms .cont_2, #platforms .cont_3, #platforms .cont_4 {
    height: 250px;
    position: relative; }
  #platforms .cont_1 a, #platforms .cont_2 a, #platforms .cont_3 a, #platforms .cont_4 a {
    position: absolute;
    bottom: 5px; }
  #platforms div {
    padding: 12px;
    width: 20%;
    float: left;
    text-align: left; }
    #platforms div h3 {
      color: #595959;
      font-weight: 600;
      font-size: 18px;
      margin: 10px 0 5px 0; }
    #platforms div p {
      font-size: 13px;
      line-height: 18px;
      color: #6e6e6e;
      margin-bottom: 10px; }
    #platforms div .demo {
      padding: 5px;
      margin-top: 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #eeefe6;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      box-shadow: 0 0 1px #8da526;
      font-size: 11px;
      font-weight: 600; }
    #platforms div img {
      padding-left: 3px;
      vertical-align: -1px; }

#cont_pane {
  float: left;
  width: 400px;
  padding: 30px;
  margin-left: 20px; }
  #cont_pane h3 {
    color: #494949;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; }
  #cont_pane ul {
    padding-left: 20px;
    margin-top: 20px; }
    #cont_pane ul li {
      color: #4d4a42;
      font-size: 13px;
      line-height: 19px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; }

#share {
  border-radius: 2px;
  border: 1px solid #efefef;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #f3f3f3;
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  left: 45px;
  padding: 5px;
  text-transform: uppercase; }
  #share .share_fb {
    background: transparent url("../images/btn_like.png") top left no-repeat;
    display: inline-block;
    height: 23px;
    margin: 0 3px;
    padding: 0;
    vertical-align: -8px;
    width: 55px; }
  #share .share_tw {
    background: transparent url("../images/btn_tweet.png") top left no-repeat;
    display: inline-block;
    height: 23px;
    margin: 0 3px;
    padding: 0;
    vertical-align: -8px;
    width: 65px; }
  #share .share_email {
    background: transparent url("../images/btn_email.png") top left no-repeat;
    display: inline-block;
    height: 23px;
    margin: 0 3px;
    padding: 0;
    vertical-align: -8px;
    width: 31px; }

#share-post {
  border-radius: 2px;
  border: 1px solid #d8dde0;
  box-shadow: 0 -1px 1px #cccccc;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  left: 0px;
  padding: 5px;
  text-transform: uppercase;
  width: 590px; }
  #share-post .share_fb {
    background: transparent url("../images/icon_share_fb.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 5px 0 10px;
    vertical-align: 0px;
    padding-left: 22px; }
  #share-post .share_tw {
    background: transparent url("../images/icon_share_tw.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  #share-post .share_email {
    background: transparent url("../images/icon_share_link.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }

#share-mgmt {
  border-radius: 2px;
  border: 1px solid #d8dde0;
  box-shadow: 0 -1px 1px #cccccc;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  left: 0px;
  padding: 5px;
  text-transform: uppercase; }
  #share-mgmt .share_fb {
    background: transparent url("../images/icon_share_fb.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 5px 0 10px;
    vertical-align: 0px;
    padding-left: 22px; }
  #share-mgmt .share_tw {
    background: transparent url("../images/icon_share_tw.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  #share-mgmt .share_li {
    background: transparent url("../images/icon_linkedin.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  #share-mgmt .share_gp {
    background: transparent url("http://www.vitrue.com/wp-content/uploads/2011/11/gplus.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  #share-mgmt .share_email {
    background: transparent url("../images/icon_share_link.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }

div.whitepapers {
  height: 350px;
  width: 187px;
  float: left;
  font-size: 12px !important;
  margin-right: 13px;
  margin-bottom: 20px;
  position: relative; }
  div.whitepapers h3 {
    margin-top: 0px;
    text-transform: none !important;
    font-family: 'Cabin' !important; }
  div.whitepapers p {
    font-size: 12px !important;
    line-height: 18px !important; }
  div.whitepapers img.download {
    color: #fff;
    bottom: 0;
    padding: 0;
    font-weight: 600 Important;
    position: absolute;
    left: 0; }

.prod_squares {
  width: 205px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px; }

/** Blog **/
#content_mid.blog {
  margin-top: -275px;
  position: relative;
  z-index: 2; }

.blog #container_mid {
  background: transparent url("../images/product_content_top.png") top center no-repeat;
  padding-top: 747px;
  width: 985px; }
.blog #container_end {
  background: transparent url("../images/product_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px; }
.blog #content {
  background: transparent url("../images/product_content_mid.png") top center repeat-y;
  position: relative;
  z-index: 1;
  height: auto; }
.blog #main_content {
  width: 590px;
  margin-left: 55px;
  margin-top: -720px;
  float: left; }
  .blog #main_content p {
    color: #4d4a42;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0; }
    .blog #main_content p.bold {
      color: #595959 !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 30px 0; }
  .blog #main_content h1 {
    color: #005a84;
    display: inline;
    font-weight: 600;
    font-size: 24px;
    margin-right: 20px;
    text-transform: uppercase; }
    .blog #main_content h1 img {
      margin-left: 10px; }
  .blog #main_content h2 {
    color: #494949;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 20px; }
  .blog #main_content h1 img {
    margin-left: 0px;
    vertical-align: -15px; }
  .blog #main_content img, .blog #main_content div {
    max-width: 600px; }
  .blog #main_content ul {
    padding-left: 20px;
    margin-top: 35px; }
    .blog #main_content ul #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase; }
      .blog #main_content ul #share .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .blog #main_content ul #share .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .blog #main_content ul #share .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; }
    .blog #main_content ul li {
      color: #4d4a42;
      font-size: 13px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; }
.blog #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -690px;
  width: 253px; }
  .blog #sidebar #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase; }
    .blog #sidebar #fans_served span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; }
  .blog #sidebar h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  .blog #sidebar h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  .blog #sidebar p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  .blog #sidebar a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .blog #sidebar .whitepaper:last-child {
    border: none; }
  .blog #sidebar .whitepaper .title {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .blog #sidebar .whitepaper p {
    color: #797979;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px; }
  .blog #sidebar .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce; }
    .blog #sidebar .demo span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px; }
      .blog #sidebar .demo span img {
        padding-left: 3px; }

.entry-content {
  color: #4d4a42 !important;
  line-height: 18px;
  position: relative; }
  .entry-content .alignleft {
    float: left;
    margin: 0 30px 10px 0;
    vertical-align: text-top !important; }
  .entry-content p {
    color: #4d4a42 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    font-weight: normal !important;
    margin-bottom: 10px;
    margin-top: 0; }
    .entry-content p a {
      text-decoration: none; }
    .entry-content p.bold {
      font-weight: 600 !important;
      margin: 0 0 20px !important;
      font-size: 16px !important; }
  .entry-content li {
    font-size: 13px;
    color: #4d4a42 !important;
    list-style-image: url("../images/icon_check.png");
    margin-bottom: 15px;
    margin-left: 25px;
    padding-left: 5px; }

.blog iframe {
  padding-bottom: 0; }

.vignette {
  box-shadow: inset 0 0 25px #ddd;
  display: inline-block; }
  .vignette img {
    margin: auto;
    position: relative;
    z-index: -1; }

.entry-title {
  margin-bottom: 10px; }
  .entry-title a {
    color: #494949;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; }

.entry-meta {
  text-transform: uppercase;
  margin-bottom: 15px; }
  .entry-meta a {
    color: #3571aa;
    font-size: 11px;
    text-decoration: none; }

.more-link {
  display: block;
  text-transform: uppercase;
  margin: 25px 0; }
  .more-link:after {
    content: url("../images/arrow.png");
    vertical-align: -2px;
    margin-left: 3px; }

.cat-links {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase; }
  .cat-links a {
    font-size: 11px;
    font-weight: 600;
    text-decoration: none; }

.comments-link {
  text-transform: uppercase;
  font-size: 11px; }
  .comments-link img {
    padding: 0 8px;
    position: relative;
    vertical-align: -5px; }
  .comments-link a {
    text-decoration: none; }

.edit-link {
  font-size: 11px;
  text-transform: uppercase; }

.meta-prep {
  font-size: 11px; }

.meta-sep {
  padding: 0 5px; }

.navigation {
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 20px; }
  .navigation a {
    text-decoration: none; }
  .navigation .nav-previous {
    float: left; }
  .navigation .nav-next {
    float: right; }

.entry-utility {
  color: #4D4A42;
  margin: 0 0 20px; }
  .entry-utility a {
    font-weight: 600;
    text-decoration: none; }

div.post {
  margin-bottom: 25px !important; }
  div.post a.read_more {
    display: block;
    margin-top: 10px;
    font-size: 12px; }
div.press_coverage {
  margin-bottom: 25px; }
  div.press_coverage img {
    display: none; }

#comments p {
  font-size: 11px !important;
  color: #4d4a42; }
#comments textarea {
  margin-left: 10px;
  vertical-align: top; }

/** Vitrue TV **/
.vid_cont {
  width: 175px;
  height: 245px;
  float: left;
  margin: 0 10px 20px;
  position: relative; }
  .vid_cont a {
    text-decoration: none !important;
    margin: 25px 0 20px !important; }
    .vid_cont a.demo {
      color: #fff;
      position: absolute;
      left: 0;
      bottom: 5px;
      padding: 5px 20px;
      height: 18px; }
      .vid_cont a.demo img {
        display: inline-block;
        position: relative;
        margin-left: 5px !important;
        margin-bottom: 0 !important;
        /*top: -14px;*/ }
  .vid_cont span.titlec {
    color: #595959 !important;
    font-size: 13px;
    font-weight: 600;
    margin: 15px 0 10px !important; }
  .vid_cont p {
    font-size: 12px !important;
    line-height: 17px !important;
    font-weight: normal !important;
    color: #6E6E6E !important;
    margin-top: 5px !important; }
  .vid_cont img {
    display: block;
    margin-bottom: 10px; }

.tubepress_thumb {
  width: 185px !important; }
  .tubepress_thumb a:first-child {
    position: relative;
    height: 85px !important;
    overflow: hidden;
    width: 150px !important; }

.tubepress_meta_title {
  width: 160px !important; }
  .tubepress_meta_title a {
    color: #595959;
    font-size: 14px !important;
    line-height: 15px;
    font-weight: 600;
    text-decoration: none; }

.pag_nav {
  list-style: none;
  margin: 0px 0 0 -15px;
  padding: 0px; }
  .pag_nav li {
    list-style-image: none !important;
    float: left;
    margin: 3px; }
    .pag_nav li a {
      text-transform: uppercase;
      display: block;
      padding: 5px 12px;
      color: #52799e;
      background-color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 600; }
      .pag_nav li a.active {
        color: #fff;
        background-color: #9ebad8; }
      .pag_nav li a.inactive {
        background-color: #fff;
        color: #52799e; }

/* No Header Elements */
#content_mid.nh {
  margin-top: -425px;
  position: relative;
  z-index: 2; }

.nh #container_mid {
  background: transparent url("../images/nh_content_top.png") top center no-repeat;
  padding-top: 432px;
  width: 985px; }
.nh #container_end {
  background: transparent url("../images/nh_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px; }
.nh #content {
  background: transparent url("../images/nh_content_mid.png") top center repeat-y;
  position: relative;
  z-index: 1;
  height: auto; }
.nh #main_content {
  width: 590px;
  margin-left: 55px;
  margin-top: -400px;
  float: left; }
  .nh #main_content p {
    color: #4d4a42;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0; }
    .nh #main_content p.bold {
      color: #595959 !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 30px 0; }
  .nh #main_content h1 {
    color: #005a84;
    display: inline;
    margin-right: 20px; }
    .nh #main_content h1 img {
      margin-left: 10px; }
  .nh #main_content h2 {
    color: #494949;
    margin-bottom: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Ubuntu"; }
  .nh #main_content img {
    max-width: 590px; }
  .nh #main_content h1 img {
    margin-left: 0px;
    vertical-align: -15px; }
  .nh #main_content ul {
    padding-left: 20px;
    margin-top: 35px; }
    .nh #main_content ul #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase; }
      .nh #main_content ul #share .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .nh #main_content ul #share .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .nh #main_content ul #share .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; }
    .nh #main_content ul li {
      color: #4d4a42;
      font-size: 13px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; }
.nh #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -290px;
  width: 253px; }
  .nh #sidebar #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase; }
    .nh #sidebar #fans_served span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; }
  .nh #sidebar h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  .nh #sidebar h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  .nh #sidebar p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  .nh #sidebar a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .nh #sidebar .whitepaper:last-child {
    border: none; }
  .nh #sidebar .whitepaper .title {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .nh #sidebar .whitepaper p {
    color: #797979;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px; }
  .nh #sidebar .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce; }
    .nh #sidebar .demo span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px; }
      .nh #sidebar .demo span img {
        padding-left: 3px; }

/** Sidebar Elements **/
li.categories {
  color: #595959;
  font: 600 16px/21px "Ubuntu", arial, sans-serif;
  list-style-type: none;
  text-transform: uppercase; }
  li.categories ul {
    margin-top: 15px;
    padding-left: 0px;
    margin-bottom: 20px; }
    li.categories ul li {
      font: normal 14px/14px "Cabin", arial, sans-serif;
      height: 12px;
      list-style-type: none;
      text-transform: none;
      vertical-align: top;
      margin-bottom: 8px; }
      li.categories ul li:after {
        content: url("../images/arrow.png");
        width: 10px;
        height: 10px;
        vertical-align: -3px; }
      li.categories ul li a {
        color: #4d4d4d;
        line-height: 14px;
        vertical-align: top; }

ul#archives {
  padding-left: 0px;
  margin-bottom: 20px; }
  ul#archives li {
    list-style-type: none;
    font: normal 14px/14px "Cabin", arial, sans-serif;
    height: 14px;
    margin-bottom: 8px; }
    ul#archives li:after {
      content: url("../images/arrow.png");
      width: 10px;
      height: 10px;
      margin-left: 2px;
      vertical-align: 3px; }
    ul#archives li a {
      color: #4d4d4d;
      line-height: 12px;
      vertical-align: top; }
ul#jstwitter {
  padding-left: 0px;
  margin-bottom: 20px; }
  ul#jstwitter li.tweet {
    color: #4d4d4d;
    list-style-type: none;
    margin-bottom: 10px;
    font: normal 12px/18px "Cabin", arial, sans-serif; }
    ul#jstwitter li.tweet a {
      font-family: 'Ubuntu', arial, sans-serif;
      font-size: 11px; }
    ul#jstwitter li.tweet div.time {
      font-weight: 600; }

div.event {
  margin-left: 0px;
  margin-bottom: 20px; }
  div.event p {
    margin-bottom: 5px !important; }
  div.event h4 {
    text-transform: none;
    color: #52799e;
    font-weight: 500; }
    div.event h4:before {
      content: url("../images/icon_calendar.png");
      margin-left: -25px;
      margin-right: 10px;
      vertical-align: -2px; }
  div.event #date, div.event #location {
    color: #797979;
    font-size: 13px; }

.execs {
  margin-bottom: 20px; }

/** Footer Elements **/
footer {
  background: url("../images/footer_back.png") top left repeat-x;
  height: 277px;
  margin-top: -182px;
  position: relative;
  width: 100%;
  z-index: 1; }
  footer #nav_cont {
    text-align: center;
    padding-top: 200px; }
    footer #nav_cont nav {
      display: inline; }
      footer #nav_cont nav ul {
        display: inline; }
        footer #nav_cont nav ul li {
          display: inline; }
      footer #nav_cont nav a {
        color: #9baec0;
        font-size: 11px;
        margin-right: 30px;
        text-transform: uppercase;
        text-decoration: none; }
    footer #nav_cont #connect {
      color: #919090;
      display: inline;
      font-size: 11px;
      text-transform: uppercase; }
      footer #nav_cont #connect .fb {
        background: url("../images/icon_fb.png") top left no-repeat;
        width: 19px;
        height: 18px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: text-bottom; }
      footer #nav_cont #connect .tw {
        background: url("../images/icon_twitter.png") top left no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin: 0px;
        vertical-align: text-bottom; }
      footer #nav_cont #connect .gplus {
        background: url("http://www.vitrue.com/wp-content/uploads/2011/11/gplus.png") top left no-repeat;
        width: 22px;
        height: 22px;
        display: inline-block;
        margin: 0 0 -2px 10px;
        vertical-align: -5px; }
  footer #copyright {
    color: #7c7a7a;
    margin-top: 30px;
    text-align: center; }

#main_content .html-sitemap h2 {
  display: table-cell; }
#main_content div.sitemap h2 + ul.pages, #main_content div.sitemap h2 + ul.categories, #main_content div.sitemap h2 + ul.archives {
  padding-left: 0;
  margin-left: -20px;
  margin-right: 50px;
  margin-top: 10px;
  position: relative; }
#main_content div.sitemap h2 + ul.pages li, #main_content div.sitemap h2 + ul.categories li, #main_content div.sitemap h2 + ul.archives li {
  list-style-image: none !important;
  margin-bottom: 5px !important; }
#main_content div.sitemap h2 + ul.pages li a, #main_content div.sitemap h2 + ul.categories li a, #main_content div.sitemap h2 + ul.archives li a {
  font-size: 12px; }
#main_content div.sitemap h2 + ul.pages li ul.children, #main_content div.sitemap h2 + ul.categories li ul.children, #main_content div.sitemap h2 + ul.archives li ul.children {
  margin-top: 10px;
  padding-left: 0; }
#main_content div.cont_pages, #main_content div.cont_cats, #main_content div.cont_archives {
  display: table-cell; }

#overlay {
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 1000; }

#modal {
  display: none;
  background: #fff;
  box-shadow: 0 0 10px #222;
  width: 795px;
  height: 580px;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -377px;
  z-index: 1001; }
  #modal #close_cont {
    background: #edf0f4;
    display: block;
    width: 793px;
    height: 25px;
    margin-bottom: 0px; }
  #modal #close {
    position: absolute;
    top: 0px;
    height: 32px;
    width: 32px;
    right: 0px;
    z-index: 1002; }
  #modal #modal_cont {
    width: 755px;
    padding: 20px; }
    #modal #modal_cont #mant_form {
      display: block;
      height: 235px;
      margin-top: 30px;
      margin-right: -10px;
      position: relative;
      width: 440px; }
    #modal #modal_cont label {
      color: #3b4b79;
      display: block;
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 3px;
      width: 130px; }
    #modal #modal_cont input[type=text] {
      background: #fff;
      border: 1px solid #fff;
      box-shadow: inset 0 0 5px #efefef, 0 0 4px #ccc;
      padding: 5px;
      width: 122px; }
    #modal #modal_cont input[type=submit] {
      background: url("http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/mant_form_dl.png") top left no-repeat;
      display: inline-block;
      width: 189px;
      height: 56px;
      border: none;
      text-indent: -9999px;
      position: absolute;
      right: 20px;
      bottom: -145px;
      cursor: pointer; }
    #modal #modal_cont select {
      height: 23px;
      width: 132px;
      margin-bottom: 10px;
      padding: 2px; }
    #modal #modal_cont div {
      display: block;
      width: 100%; }
      #modal #modal_cont div fieldset {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px; }

span.close {
  background: url("http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/close.png") top left no-repeat;
  cursor: pointer;
  padding: 5px 5px;
  text-indent: -9999px;
  width: 24px;
  height: 25px;
  display: block;
  position: relative;
  left: -4px; }

label {
  display: block;
  font-size: 11px;
  line-height: 13px; }

input[type=text] {
  width: 165px;
  margin-bottom: 7px;
  padding: 2px; }

#ProspectPageForm1 input[type=submit] {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  width: 119px;
  height: 29px;
  border: none;
  margin-bottom: 7px;
  margin-left: 0;
  margin-top: 0px;
  cursor: pointer; }

select {
  width: 190px;
  margin-bottom: 10px; }

img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */ }

.attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */ }

.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px; }

.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }
img.alignleft, img.alignright, img.aligncenter {
  margin-bottom: 12px; }

.wp-caption {
  background: #fff;
  line-height: 18px;
  margin-bottom: 20px !important;
  max-width: 632px !important;
  /* prevent too-wide images from breaking layout */
  padding: 4px;
  text-align: center; }
  .wp-caption img {
    margin: 5px 5px 0 !important; }
  .wp-caption p.wp-caption-text {
    color: #888 !important;
    font-size: 11px !important;
    line-height: 15px !important;
    margin: 5px !important; }

.fb_iframe_widget {
  width: 590px; }

label {
  display: block;
  color: #333;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 5px; }

input[type=text], textarea {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -webkit-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  padding: 7px;
  font-size: 11px;
  color: #888; }

input[type=text]:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
  -webkit-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
  color: #4d4d4d; }

input[type=text] {
  width: 250px; }
  input[type=text].ext {
    width: 50px; }
  input[type=text].medium {
    width: 175px; }

input[type=submit], input[type=button] {
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 1px #888;
  padding: 5px 15px 7px;
  text-transform: uppercase;
  border: none;
  background: #b6d435;
  display: block;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* W3C */
  box-shadow: 0 0 1px #8da526;
  -moz-box-shadow: 0 0 1px #8da526;
  -webkit-box-shadow: 0 0 1px #8da526; }
input[type=submit]:hover, input[type=button]:hover {
  background: #bcdb33;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
  /* W3C */
  box-shadow: 0 0 1px #a4bd35;
  -moz-box-shadow: 0 0 1px #a4bd35;
  -webkit-box-shadow: 0 0 1px #a4bd35; }

select {
  width: 250px;
  border: none;
  height: 32px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  padding: 7px;
  font-size: 11px;
  color: #4d4d4d; }
  select:focus {
    outline: none;
    box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
    -moz-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
    -webkit-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
    color: #4d4d4d; }

div.gallery {
  width: 940px;
  margin-top: 30px; }

dl.gallery-item {
  float: left;
  padding: 10px 10px;
  background: #fff;
  border-radius: 2px;
  box-shadow: inset 0 0 15px #f6f6f6, 0 1px 1px #f0f0f0;
  border-top: 1px solid #cfcfcf;
  margin: 5px;
  width: 80px;
  height: 80px; }
  dl.gallery-item dt.gallery-icon {
    width: 80px;
    height: 80px;
    display: table-cell;
    vertical-align: middle; }
    dl.gallery-item dt.gallery-icon img {
      display: block;
      line-height: 80px; }

.analytics_image {
  height: 265px;
  width: 185px;
  float: left;
  margin: 15px 15px 15px 0;
  position: relative; }
  .analytics_image h4 {
    font-size: 16px;
    color: #595959;
    font-family: 'Cabin';
    font-weight: bold;
    margin-top: 25px;
    text-transform: none !important; }
  .analytics_image p {
    position: absolute;
    top: 195px; }

.no-margin {
  margin: 15px 0 0 !important; }

#modal2 {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 1001; }
  #modal2 #close_cont {
    position: absolute;
    top: -13px;
    z-index: 1002; }
  #modal2 #modal_cont {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #888;
    display: block;
    padding: 18px;
    position: relative; }
    #modal2 #modal_cont img {
      display: block;
      position: relative;
      margin: 0 auto; }
    #modal2 #modal_cont h1 {
      color: #595959 !important;
      margin: 0 !important;
      position: relative;
      top: 10px; }

#overlay2 {
  background: transparent;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 1000; }

.blog-cat {
  display: block;
  margin-bottom: 3px; }

.divider {
  height: 1px;
  margin: 15px 0;
  width: 100%;
  background: #e0e1e1;
  box-shadow: 0 1px 1px #fff; }

.pinit-button-wrapper {
  height: 25px;
  /* bigger than button height below */
  margin: 0;
  padding: 0 0 10px 0; }

/* From Pinterest official html */
#PinItButton {
  background: url(http://d3io1k5o0zdpqr.cloudfront.net/images/pinit.png);
  border: 1px solid #C9C5C5;
  border-color: #E8E4E4 #C9C5C5 #C9C5C5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.07);
  font: 11px Arial, sans-serif;
  text-indent: -9999em;
  font-size: .01em;
  color: #CD1F1F;
  height: 22px;
  width: 47px;
  background-position: 0 -8px;
  display: inline-block;
  vertical-align: -7px;
  margin-left: 5px; }

#connect_tab #gplus_add, #connect_tab #___plusone_0 + iframe {
  margin-top: 5px !important; }
#connect_tab #PinItButton {
  margin-left: 3px; }

.sitemap ul {
  margin-top: 10px !important;
  margin-left: -10px !important;
  padding-left: 0 !important; }
  .sitemap ul li {
    list-style-type: none !important;
    list-style-image: none !important; }

.pages {
  width: 220px; }

.pages > li {
  margin-left: 5px !important; }

.archives {
  width: 105px; }

.archives > li {
  margin-left: 5px !important; }

.categories {
  width: 100px; }

.categories > li {
  margin-left: 5px !important; }

.jobs-emails {
  font-size: 13px;
  font-family: 'trebuchet ms', verdana, sans-serif;
  color: #3571AA;
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
  margin: -5px 0 10px;
  display: block;
  width: 175px; }

#resources_cont nav {
  margin-left: 0px; }
#resources_cont nav a {
  color: #52799E;
  display: inline-block;
  padding: 5px 0 32px 0;
  text-align: center;
  width: 158px;
  position: relative;
  z-index: 2;
  font: bold 13px/13px "Ubuntu", arial, sans-serif;
  text-transform: uppercase;
  margin-right: 45px; }
  #resources_cont nav a:hover {
    color: #3B4B79; }
#resources_cont div.tab_cont {
  padding-top: 30px; }
#resources_cont div.tab_cont p {
  color: #595959 !important;
  font: normal 14px/17px "Cabin", helvetica, sans-serif !important; }
#resources_cont div img {
  margin: 0 10px 0 0;
  float: left;
  vertical-align: middle; }
#resources_cont div.paper, #resources_cont div.guide, #resources_cont div.kit {
  float: left;
  height: 180px;
  margin-left: 100px;
  width: 240px; }
#resources_cont .tab_cont div.paper:nth-child(even), #resources_cont .tab_cont div.guide {
  margin-left: 0 !important; }
#resources_cont div hr + a {
  cursor: pointer;
  display: inline-block; }
  #resources_cont div hr + a img {
    display: block;
    float: none;
    margin: 10px 0 0;
    padding: 0; }
#resources_cont div p.description {
  color: #6e6e6e !important;
  font: normal 13px/17px "Cabin", helvetica, sans-serif !important; }
#resources_cont hr {
  background: #b7b7b7;
  border: none;
  border-bottom: 1px solid #fefeff;
  height: 1px; }
#resources_cont span a {
  color: #5f5f5f;
  cursor: pointer;
  display: block;
  font: bold 14px/19px "Cabin", helvetica, sans-serif !important; }
  #resources_cont span a:hover {
    color: #52799e; }
#resources_cont #wp {
  display: block; }
#resources_cont #gk {
  display: none; }
#resources_cont #sr {
  display: none; }
#resources_cont .active {
  background: url(http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/ed_res_nav.png) bottom center no-repeat;
  color: #3B4B79; }
  #resources_cont .active img {
    display: none; }
