/** Reset CSS **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  display: inline-table;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; } }

/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
/** Common Elements  **/

body {
  /*background: #bad0e5 url("../images/background.png") top center no-repeat;*/
  background:#cbdbeb;
  box-shadow: inset 0 0 250px #608bbc;
  color: #464646;
  font: normal 13px / 17px "Cabin", arial, sans-serif;
  border-top: 60px solid #303030;
  min-width: 1200px; }

a {
  color: #3571aa;
  text-decoration: none; }

li strong {
  font-weight: 600;
  color: #494949; }

h1 {
  font: 600 24px / 30px "Ubuntu", arial, sans-serif !important;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
  margin: 20px 0 20px !important;
  color:#3b4b79 !important; }

h2 {
  font: 600 20px / 26px "Ubuntu", arial, sans-serif !important;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
  display: block;
  margin-bottom:10px; }

h3 {
  font: 600 16px / 21px "Ubuntu", arial, sans-serif !important;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
  margin-bottom: 10px; }

h4 {
  font: 600 14px / 18px "Ubuntu", arial, sans-serif;
  text-transform: uppercase; }

p {margin:10px 0;}

strong {
  font-weight: 600; }

#container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px #b1c6dd;
  margin: 0 auto;
  padding-bottom: 25px;
  position: relative;
  width: 985px;
  z-index: 2; }

.block {
  display: inline-block !important; }

.bold {
  font-weight: 600; }

.clear {
  clear: both; }

.share_fb {
  background: transparent url("../images/icon_share_fb.png") top left no-repeat;
  display: inline-block;
  height: 17px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 5px 0 10px;
  vertical-align: 0px;
  padding-left: 22px; }

.share_tw {
  background: transparent url("../images/icon_share_tw.png") top left no-repeat;
  display: inline-block;
  height: 17px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 3px;
  vertical-align: 0px;
  padding-left: 22px; }

/** Header Elements **/

#connect_tab {
  background: transparent url("http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/connect_tab.png") top left no-repeat;
  position: fixed;
  height: 200px;
  width: 100px;
  left: -50px;
  top: 180px;
  z-index: 3;
  padding-left:50px;
  p {
    color: #828282;
    margin-top: 10px;
    margin-left: 15px;
	margin-bottom: 0px !important; }
  iframe {
    margin-left: 8px;
    margin-top: 15px;
    position: relative;
    display: block;
    height: 60px; }
  .tw_follow {
    position: relative;
	margin-top:-20px;
    left: 10px; }
  #gplus_add, #___plusone_0 {
  	position:absolute;
	bottom:8px;
	left:58px; }
  #connect {
    color: #919090;
    display: inline;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 8px;
    .fb {
      background: url("../images/icon_fb.png") top left no-repeat;
      width: 19px;
      height: 18px;
      display: inline-block;
      margin: 8px 7px 0 0;
      vertical-align: text-bottom; }
    .tw {
      background: url("../images/icon_twitter.png") top left no-repeat;
      width: 18px;
      height: 18px;
      display: inline-block;
      margin: 0 7px 0 0;
      vertical-align: text-bottom; }
	.gp {
      background: url("http://www.vitrue.com/wp-content/uploads/2011/11/gplus.png") top left no-repeat;
      width: 18px;
      height: 18px;
      display: inline-block;
      margin: 0 0px 0;
      vertical-align: text-bottom; } } }
	  
#connect_tab_pdc {
  background: transparent url("http://www.vitrue.com/wp-content/themes/Vitrue-3.0/images/connect_tab_pdc.png") top left no-repeat;
  position: fixed;
  height: 55px;
  width: 102px;
  left: -15px;
  top: 385px;
  z-index: 3;
  padding-left:35px;
  box-shadow: 3px 3px 3px #999;	  
  border-radius:0 3px 3px 0;
  .pdc {
	position: relative;
	width: 110px;
	margin-left: -15px;
	margin-top:4px;
	z-index: 3; }}

header {
  background: #e9f0f6; }

#cta {
  display: block;
  margin: -120px auto 0;
  text-align: center;
  a {
    &#demo {
      background: transparent url("../images/btn_sign_up.jpg") top left no-repeat;
      display: inline-block;
      height: 44px;
      padding: 15px 3px;
      width: 217px;
      text-indent: -9999px; }
    &#log_in {
      background: transparent url("../images/btn_log_in.jpg") top left no-repeat;
      display: inline-block;
      height: 44px;
      padding: 15px;
      width: 89px;
      text-indent: -9999px; } } }

#menu-primary {
  display: block;
  margin: -15px auto 0;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 575px;
  li {
    display: inline-block;
    position: relative;
    z-index: 6;
    a {
      color: #557899;
      font-size: 12px;
      font-weight: 600;
      padding: 10px 10px 14px 6px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover, &.active {
        color: #a3bf2f; }
      &.arrow {
        background: transparent url("../images/blue_arrow.png") center center no-repeat;
        height: 7px;
        width: 6px;
        padding: 5px 8px 14px;
        position: relative;
        display: inline-block;
        margin-right: -2px;
        margin-left: 3px;
        vertical-align: -8px;
        &.active {
          background: white url("../images/green_arrow.png") center center no-repeat;
          border: 1px solid #ebebeb;
          height: 6px;
          width: 7px;
          padding: 5px 8px 14px;
          position: relative;
          display: inline-block;
          margin-right: -3px;
          margin-left: 1px;
          margin-top: -5px;
          vertical-align: -8px;
          &:after {
            content: '';
            display: block;
            height: 10px;
            width: 3px;
            position: absolute;
            z-index: -1;
            top: -23px;
            right: 9px;
            box-shadow: 9px 30px 6px black;
            -webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(4deg);
            -moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(0deg); } } } }
    ul.sub-menu {
      position: absolute;
      top: 20px;
      left: 1px;
      display: none;
      padding-top: 0;
      padding-bottom: 5px;
      width: 200px;
      text-align: left;
      z-index: 10;
      &:before {
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        position: absolute;
        z-index: -1;
        bottom: 6px;
        left: 8px;
        box-shadow: -10px 5px 8px black;
        -webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(-27deg);
        -moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(-27deg); }
      &:after {
        content: '';
        display: block;
        height: 100px;
        width: 3px;
        position: absolute;
        z-index: -1;
        top: -20px;
        right: 8px;
        box-shadow: 9px 30px 8px black;
        -webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(4deg);
        -moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(0deg); }
      li {
        background: #f9fafa;
        border-top: 1px solid #fff;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        display: block;
        text-align: left;
        z-index: 10;
        position: relative;
        padding: 3px 0;
        &:hover {
          padding: 3px 0;
          a {
            background: #b6d435;
            /* Old browsers */
            background: -moz-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f5f9), color-stop(100%, #e0ecf3));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* Opera11.10+ */
            background: -ms-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* IE10+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f5f9', endColorstr='#e0ecf3',GradientType=0 );
            /* IE6-9 */
            background: linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%);
            /* W3C */ } }
        a {
          color: #557899;
          display: block;
          font-size: 11px;
          font-weight: 600;
          padding: 12px 20px 10px;
          &.arrow {
            display: none; } }
        ul.sub-menu {
          left: 0px;
          padding-top: 0px;
          position: relative;
          top: 0px;
          width: 198px;
          display: block;
          &:before, &:after {
            content: '';
            display: none; }
          li {
            padding: 0px !important;
            border: none;
            &:hover {
              box-shadow: none;
              border: none;
              background: #e9f3fc !important; }
            a {
              background: #fff;
              border: none;
              color: #6b6d6e;
              font-size: 11px;
              font-family: 'Cabin';
              line-height: 11px;
              font-weight: 400;
              padding: 5px 20px 5px;
              text-transform: none;
              &:hover {
                background: #e9f3fc;
                /* Old browsers */
                background: -moz-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f3fc), color-stop(100%, #e9f3fc));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* Opera11.10+ */
                background: -ms-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* IE10+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f3fc', endColorstr='#e9f3fc',GradientType=0 );
                /* IE6-9 */
                background: linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%);
                /* W3C */ } } } } } } } }

#hdr_nav {
  float: right;
  text-align: right;
  display: inline-block;
  margin-top: -90px;
  nav li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: right;
    a {
      color: #a9a9a9;
      margin-right: 10px;
      text-decoration: none; } } }

span.logo {
  background: transparent url("../images/logo_tab.png") top left no-repeat;
  display: inline-block;
  height: 88px;
  margin-top: -20px;
  margin-left: -1px;
  position: relative;
  width: 221px; }

#crumbs {
  color: #717171;
  font-size: 11px;
  margin-left: 10px;
  position: relative;
  top: 15px;
  text-align: left;
  z-index: 100;
  a {
    color: #557899;
    margin: 0 5px;
    text-decoration: none; }
  .current {
    margin: 0 5px; } }

#logo {
  margin-top: 20px;
  margin-left: 30px; }

#search {
  margin-right: 10px;
  margin-top: 15px; }

#searchform {
  label {
    display: none; }
  #s {
    background: transparent url("../images/search.png") top left no-repeat;
    border: none;
	box-shadow:none;
    padding: 10px 0 10px 5px;
    outline: none;
    width: 181px; }}

#searchsubmit {
  display: none; }

#search_box {
  background: transparent url("../images/search.png") top left no-repeat;
  border: none;
  height: 30px;
  margin-right: 10px;
  width: 181px; }

/** Slider Elements **/

#slider {
  background: url("../images/slider_back.jpg") top left no-repeat;
  display: block;
  height: 648px;
  position: relative;
  width: 985px;
  .product_image {
    margin: 0 auto 0;
    position: relative;
    display: block;
    /*margin-left:65px;*/
    z-index: 1; } }

#slider_nh {
  background: url("../images/slider_back_nh.jpg") top left no-repeat;
  height: 465px;
  width: 985px;
  padding-top: 25px; }

#slides {
  height: 381px;
  padding-top: 30px;
  position: relative;
  width: 985px;
  .pagination {
    padding-left: 0;
    text-align: center;
    margin-top: -20px;
    z-index: 100;
    li {
      display: inline-block;
      position: relative;
      z-index: 100;
      a {
        background: transparent url("../images/hero_off.png") top left no-repeat;
        text-indent: -9999px;
        height: 14px;
        margin: 0 3px;
        width: 14px;
        display: inline-block; } } }
  li.current a {
    background: transparent url("../images/hero_on.png") top left no-repeat; }
  a {
    &.next {
      position: absolute;
      opacity: 0.7;
      top: 180px;
      z-index: 2; }
    &.prev {
      position: absolute;
      opacity: 0.7;
      top: 180px;
      z-index: 2;
      left: -50px; }
    &.next {
      right: -50px; } } }

.slides_container {
  width: 985px;
  height: 381px;
  position: relative;
  z-index: 2;
  div {
    width: 985px;
    height: 381px;
    display: block;
    position: relative;
    z-index: 1;
    img {
      margin-top: -25px;
      margin-left: 20px; } } }

#news {
  background: url("../images/news_back.png") top left no-repeat;
  height: 49px;
  margin-left:-2px;
  padding: 20px;
  position: relative;
  width: 708px;
  h4 {
    color: #3f3f3f;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px; }
  a {
    &.prev {
      left: 5px;
      top: 8px; }
    &.next {
      right: 5px;
      top: 8px; } } }

.news_container {
  width: 670px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin-top: -30px;
  img {
    display: none; }
  div {
    display: inline-block;
    position: absolute;
    margin-left: 115px;
    margin-top: 2px;
    width: 460px; }
  h3 {
    color: #4d4a42;
    font-family: 'Cabin', sans-serif;
    font-weight: normal !important;
    text-transform: none;
    text-shadow: none; }
  p {
    display: table-cell;
    vertical-align: middle;
	height:34px;
    color: #797979;
    font-size: 12px;
    font-style: italic; } }

#news_nav_back {
  background: url("../images/news_nav_back.jpg") top left no-repeat;
  height: 29px;
  position: absolute;
  left: 182px;
  width: 50px;
  top: 19px;
  a {
    &.next, &.prev {
      position: absolute;
      z-index: 2; } } }

/** Main Content **/

#content_mid {
  margin-top: -225px;
  position: relative;
  z-index: 2;
  &.product {
    margin-top: -300px;
    position: relative;
    z-index: 2; }
  &.secondary, &.small_hero {
    margin-top: -245px;
    position: relative;
    z-index: 2; } }

#container_mid {
  background: transparent url("../images/content_top.png") top center no-repeat;
  padding-top: 218px;
  width: 985px;
  height: 218px; }

.product #container_mid {
  background: transparent url("../images/product_content_top.png") top center no-repeat;
  padding-top: 747px;
  width: 985px; }

.secondary #container_mid {
  background: transparent url("../images/secondary_content_top.png") top center no-repeat;
  padding-top: 230px;
  width: 985px;
  height: auto; }

.small_hero #container_mid {
  background: transparent url("../images/product_content_top.png") top center no-repeat;
  padding-top: 747px;
  width: 985px;
  height: auto; }

#container_end {
  background: transparent url("../images/content_bottom.png") top center no-repeat;
  display: block;
  height: 20px;
  width: 985px; }

.product #container_end {
  background: transparent url("../images/product_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px; }

.secondary #container_end {
  background: transparent url("../images/secondary_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px;
  margin-bottom: -100px; }

.small_hero #container_end {
  background: transparent url("../images/product_content_bottom.png") top center no-repeat;
  display: block;
  height: 17px;
  width: 985px; }

#content {
  background: transparent url("../images/content_mid.png") top center repeat-y;
  height: auto; }

.product #content {
  background: transparent url("../images/product_content_mid.png") top center repeat-y;
  height: auto; }

.secondary #content {
  background: transparent url("../images/secondary_content_mid.png") top center repeat-y;
  height: auto; }

.small_hero #content {
  background: transparent url("../images/product_content_mid.png") top center repeat-y;
  height: auto; }

#main_content {
  width: 710px;
  margin-left: 35px;
  margin-top: -200px;
  float: left;
  h1 {
    margin-bottom: 40px; }
  p {
    margin: 0 0 10px; } }

.product #main_content {
  width: 590px;
  margin-left: 55px;
  margin-top: -720px;
  float: left;
  min-height:950px;
  h1 {
    margin-right: 20px;
    text-transform: uppercase;
    img {
      vertical-align: -6px;
      margin-left: 10px; } }
  h2 {
    color: #494949;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: none !important; }
  h3 {
    color: #494949;
    margin-bottom: 20px;
    margin-top: 30px; }
  p.bold {
    color: #595959 !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; }
  img {
    margin-left: 0px;
    vertical-align: -15px; }
  ul {
    padding-left: 20px;
    margin-top: 20px;
    #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase;
      .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; } }
    li {
      color: #4d4a42;
      font-size: 14px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; } } }

.secondary #main_content {
  width: 623px;
  margin-left: 55px;
  margin-top: -200px;
  float: left;
  h1 {
    margin-right: 20px;
    text-transform: uppercase;
    img {
      vertical-align: -6px;
      margin-left: 10px; } }
  h2 {
    color: #494949;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: none !important; }
  h3 {
    color: #494949;
    margin-bottom: 20px;
    margin-top: 30px; }
  p.bold {
    color: #595959 !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; }
  img {
    margin-left: 0px;
    vertical-align: -15px; }
  ul {
    padding-left: 20px;
    margin-top: 35px;
    #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase;
      .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; } }
    li {
      color: #4d4a42;
      font-size: 14px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; } } }

.small_hero #main_content {
  width: 600px;
  margin-left: 55px;
  margin-top: -720px;
  float: left;
  p {
    color: #797671;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 10px;
    &.bold {
      color: #595959 !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 30px 0; } }
  h1 {
    font-weight: 600;
    img {
      margin-left: 10px; } }
  h2 {
    font-family: 'Cabin',sans-serif !important;
    color: #494949;
    text-transform: none !important;
    text-shadow: none; }
  img {
    margin-left: 0px;
    vertical-align: -15px; }
  ul {
    padding-left: 20px;
    margin-top: 35px;
    #share {
      border-radius: 2px;
      color: #353535;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      background: #f3f3f3;
      margin: 50px 0 60px 0;
      padding: 5px;
      text-transform: uppercase;
      .share_fb {
        background: transparent url("../images/btn_like.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 55px; }
      .share_tw {
        background: transparent url("../images/btn_tweet.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 65px; }
      .share_email {
        background: transparent url("../images/btn_email.png") top left no-repeat;
        display: inline-block;
        height: 23px;
        margin: 0 3px;
        padding: 0;
        vertical-align: -8px;
        width: 31px; } }
    li {
      color: #4d4a42;
      font-size: 14px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; } } }

#marketing {
  margin-bottom: 15px;
  position: relative;
  margin-left: -2px;
  margin-top: 5px;
  width:668px;
  height:55px;
  padding:20px;
  text-align:left;
  background: #a3be2f; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYmUyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWEwMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #a3be2f 0%, #8aa022 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3be2f), color-stop(100%,#8aa022)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a3be2f 0%,#8aa022 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a3be2f 0%,#8aa022 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a3be2f 0%,#8aa022 100%); /* IE10+ */ 
  background: linear-gradient(top,  #a3be2f 0%,#8aa022 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3be2f', endColorstr='#8aa022',GradientType=0 ); /* IE6-8 */
  a {
    position: absolute;
    right: 25px;
    bottom: 13px; } }

.demo {
  background: #b6d435;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
  /* W3C */
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 1px #8da526;
  &:hover {
    background: #bcdb33;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* W3C */
    box-shadow: 0 0 1px #a4bd35; }
  span {
    color: #f1f9ce;
    font-size: 24px;
    line-height: 25px;
    img {
      padding-left: 3px; } } }

#sidebar {
  float: left;
  margin-left: 40px;
  margin-top: -150px;
  .demo {
    color: #676768;
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    span.large_green {
      border-bottom: 1px solid #d3d5d5;
      color: #98b226;
      font-size: 25px;
      font-weight: 700;
      line-height: 26px;
      padding: 0 5px 10px 0; } }
  #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-top: 25px;
    text-transform: uppercase;
    span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; } } }

.product #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -690px;
  width: 253px;
  #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; } }
  h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .whitepaper {
    border-bottom: 1px solid #b5b5b6;
    padding: 10px 0 15px;
    &:last-child {
      border: none; }
    .title {
      color: #4d4d4d;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px; }
    p {
      color: #797979;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px; } }
  .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce;
    &:hover {
      background: #bcdb33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* W3C */
      box-shadow: 0 0 1px #a4bd35; }
    span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px;
      img {
        padding-left: 3px; } } } }

.secondary #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -150px;
  width: 230px;
  #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; } }
  h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .whitepaper {
    border-bottom: 1px solid #b5b5b6;
    padding: 10px 0 15px;
    &:last-child {
      border: none; }
    .title {
      color: #4d4d4d;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px; }
    p {
      color: #797979;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px; } }
  .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce;
    &:hover {
      background: #bcdb33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* W3C */
      box-shadow: 0 0 1px #a4bd35; }
    span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px;
      img {
        padding-left: 3px; } } } }

.small_hero #sidebar {
  float: right;
  margin-right: 30px;
  margin-top: -690px;
  width: 253px;
  #fans_served {
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    span.large_grey {
      color: #5f5f5f;
      font-size: 25px;
      line-height: 28px; } }
  h2 {
    /*display:block;*/
    font-size: 19px;
    line-height: 25px;
    margin: 20px 0 15px;
    color: #595959; }
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #595959;
    margin-bottom: 0;
    text-transform: uppercase; }
  p {
    color: #6e6e6e;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px; }
  a.iframe {
    background: url("../images/btn_find_out.png") top left no-repeat;
    display: block;
    width: 100px;
    height: 31px;
    margin-bottom: 60px; }
  .whitepaper {
    border-bottom: 1px solid #b5b5b6;
    padding: 10px 0 15px;
    &:last-child {
      border: none; }
    .title {
      color: #4d4d4d;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px; }
    p {
      color: #797979;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px; } }
  .demo {
    background: #b6d435;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 1px #8da526;
    padding: 15px;
    color: #f1f9ce;
    &:hover {
      background: #bcdb33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
      /* W3C */
      box-shadow: 0 0 1px #a4bd35; }
    span {
      color: #f1f9ce;
      font-size: 24px;
      line-height: 25px;
      img {
        padding-left: 3px; } } } }

#clients {
  float: left;
  margin: 45px 0 45px 35px;
  padding: 0 10px;
  width: 355px;
  h2 {
    color: #494949;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px; }
  p {
    color: #6e6e6e;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px; }
  a {
    background: transparent url("../images/btn_view_more.png") top left no-repeat;
    display: block;
    height: 32px;
    margin-top: 10px;
    position: relative;
    width: 135px; } }

#outtakes {
  float: right;
  margin: 45px 35px 45px 0;
  width: 540px;
  div {
    display: block;
    position: relative;
    a {
	  color: #52799E;
	  font-family: 'Ubuntu';
	  font-weight: 600;
	  font-size: 11px;
	  line-height: 14px;
	  position: relative;
	  padding-top: 4px;
	  text-transform: uppercase;
	  display: block;
	  margin-top: 10px;
      img {
        vertical-align: text-top; } } }
  img {
    margin-right: 25px; }
  h3 {
    color: #494949;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px; }
  p {
    color: #6e6e6e;
    font-size: 14px;
    line-height: 17px; }
  hr {
    border: none;
    height: 1px;
    background: #d3d5d5;
    margin: 20px 0; } }

/** Landing Pages **/

#featured {
  position: relative;
  text-align: center;
  width: auto;
  img {
    position: relative;
    margin: 0 auto; } }

#platforms {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  text-align: center;
  padding: 10px 30px;
  .cont_1, .cont_2, .cont_3, .cont_4 {
    height: 250px;
    position: relative; }
  .cont_1 a, .cont_2 a, .cont_3 a, .cont_4 a {
    position: absolute;
    bottom: 5px; }
  div {
    padding: 12px;
    width: 20%;
    float: left;
    text-align: left;
    h3 {
      color: #595959;
      font-weight: 600;
      font-size: 18px;
      margin: 10px 0 5px 0; }
    p {
      font-size: 13px;
      line-height: 18px;
      color: #6e6e6e;
      margin-bottom: 10px; }
    .demo {
      padding: 5px;
      margin-top: 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #eeefe6;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      box-shadow: 0 0 1px #8da526;
      font-size: 11px;
      font-weight: 600; }
    img {
      padding-left: 3px;
      vertical-align: -1px; } } }

#cont_pane {
  float: left;
  width: 400px;
  padding: 30px;
  margin-left: 20px;
  h3 {
    color: #494949;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; }
  ul {
    padding-left: 20px;
    margin-top: 20px;
    li {
      color: #4d4a42;
      font-size: 14px;
      line-height: 19px;
      list-style-image: url("../images/icon_check.png");
      margin-bottom: 10px; } } }

#share {
  border-radius: 2px;
  border: 1px solid #efefef;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #f3f3f3;
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  left: 45px;
  padding: 5px;
  text-transform: uppercase;
  .share_fb {
    background: transparent url("../images/btn_like.png") top left no-repeat;
    display: inline-block;
    height: 23px;
    margin: 0 3px;
    padding: 0;
    vertical-align: -8px;
    width: 55px; }
  .share_tw {
    background: transparent url("../images/btn_tweet.png") top left no-repeat;
    display: inline-block;
    height: 23px;
    margin: 0 3px;
    padding: 0;
    vertical-align: -8px;
    width: 65px; }
  .share_email {
    background: transparent url("../images/btn_email.png") top left no-repeat;
    display: inline-block;
    height: 23px;
    margin: 0 3px;
    padding: 0;
    vertical-align: -8px;
    width: 31px; } }

#share-post {
  border-radius: 2px;
  border: 1px solid #d8dde0;
  box-shadow: 0 -1px 1px #cccccc;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  left: 0px;
  padding: 5px;
  text-transform: uppercase;
  width: 590px;
  .share_fb {
    background: transparent url("../images/icon_share_fb.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 5px 0 10px;
    vertical-align: 0px;
    padding-left: 22px; }
  .share_tw {
    background: transparent url("../images/icon_share_tw.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  .share_email {
    background: transparent url("../images/icon_share_link.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; } }

#share-mgmt {
  border-radius: 2px;
  border: 1px solid #d8dde0;
  box-shadow: 0 -1px 1px #cccccc;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  left: 0px;
  padding: 5px;
  text-transform: uppercase;
  .share_fb {
    background: transparent url("../images/icon_share_fb.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 5px 0 10px;
    vertical-align: 0px;
    padding-left: 22px; }
  .share_tw {
    background: transparent url("../images/icon_share_tw.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  .share_li {
    background: transparent url("../images/icon_linkedin.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  .share_gp {
    background: transparent url("http://www.vitrue.com/wp-content/uploads/2011/11/gplus.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; }
  .share_email {
    background: transparent url("../images/icon_share_link.png") top left no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 19px;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: 0px;
    padding-left: 22px; } }

div.whitepapers {
  height: 350px;
  width: 187px;
  float: left;
  font-size: 12px !important;
  margin-right: 13px;
  margin-bottom:20px;
  position: relative;
  h3 {
    margin-top: 0px;
    text-transform: none !important;
    font-family: 'Cabin' !important; }
  p {
    font-size: 12px !important;
    line-height: 18px !important; }
  img.download {
    color: #fff;
    bottom: 0;
    padding: 0;
    font-weight: 600 Important;
    position: absolute;
	left: 0; } }

.prod_squares {
  width: 205px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px; }

/** Blog **/

#content_mid.blog {
  margin-top: -275px;
  position: relative;
  z-index: 2; }

.blog {
  #container_mid {
    background: transparent url("../images/product_content_top.png") top center no-repeat;
    padding-top: 747px;
    width: 985px; }
  #container_end {
    background: transparent url("../images/product_content_bottom.png") top center no-repeat;
    display: block;
    height: 17px;
    width: 985px; }
  #content {
    background: transparent url("../images/product_content_mid.png") top center repeat-y;
    position: relative;
    z-index: 1;
    height: auto; }
  #main_content {
    width: 590px;
    margin-left: 55px;
    margin-top: -720px;
    float: left;
    p {
      color: #4d4a42;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin: 10px 0;
      &.bold {
        color: #595959 !important;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 30px 0; } }
    h1 {
      color: #005a84;
      display: inline;
      font-weight: 600;
      font-size: 24px;
      margin-right: 20px;
      text-transform: uppercase;
      img {
        margin-left: 10px; } }
    h2 {
      color: #494949;
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 20px; }
    h1 img {
      margin-left: 0px;
      vertical-align: -15px; }
    img, div {
      max-width: 600px; }
    ul {
      padding-left: 20px;
      margin-top: 35px;
      #share {
        border-radius: 2px;
        color: #353535;
        display: inline-block;
        font-size: 11px;
        font-weight: 600;
        background: #f3f3f3;
        margin: 50px 0 60px 0;
        padding: 5px;
        text-transform: uppercase;
        .share_fb {
          background: transparent url("../images/btn_like.png") top left no-repeat;
          display: inline-block;
          height: 23px;
          margin: 0 3px;
          padding: 0;
          vertical-align: -8px;
          width: 55px; }
        .share_tw {
          background: transparent url("../images/btn_tweet.png") top left no-repeat;
          display: inline-block;
          height: 23px;
          margin: 0 3px;
          padding: 0;
          vertical-align: -8px;
          width: 65px; }
        .share_email {
          background: transparent url("../images/btn_email.png") top left no-repeat;
          display: inline-block;
          height: 23px;
          margin: 0 3px;
          padding: 0;
          vertical-align: -8px;
          width: 31px; } }
      li {
        color: #4d4a42;
        font-size: 14px;
        list-style-image: url("../images/icon_check.png");
        margin-bottom: 10px; } } }
  #sidebar {
    float: right;
    margin-right: 30px;
    margin-top: -690px;
    width: 253px;
    #fans_served {
      color: #8a8a8a;
      font-weight: 600;
      margin-bottom: 20px;
      margin-left: 15px;
      margin-top: 15px;
      text-transform: uppercase;
      span.large_grey {
        color: #5f5f5f;
        font-size: 25px;
        line-height: 28px; } }
    h2 {
      /*display:block;*/
      font-size: 19px;
      line-height: 25px;
      margin: 20px 0 15px;
      color: #595959; }
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #595959;
      margin-bottom: 0;
      text-transform: uppercase; }
    p {
      color: #6e6e6e;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 10px; }
    a.iframe {
      background: url("../images/btn_find_out.png") top left no-repeat;
      display: block;
      width: 100px;
      height: 31px;
      margin-bottom: 60px; }
    .whitepaper {
      border-bottom: 1px solid #b5b5b6;
      padding: 10px 0 15px;
      &:last-child {
        border: none; }
      .title {
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px; }
      p {
        color: #797979;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px; } }
    .demo {
      background: #b6d435;
      /* Old browsers */
      background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* W3C */
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0 0 1px #8da526;
      padding: 15px;
      color: #f1f9ce;
      span {
        color: #f1f9ce;
        font-size: 24px;
        line-height: 25px;
        img {
          padding-left: 3px; } } } } }

.entry-content {
  color: #4d4a42 !important;
  line-height: 18px;
  position: relative;
  .alignleft {
    float: left;
    margin: 0 30px 10px 0;
    vertical-align: text-top !important; }
  p {
    color: #4d4a42 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    font-weight: normal !important;
    margin-bottom: 10px;
    margin-top: 0;
    a {
      text-decoration: none; }
    &.bold {
      font-weight: 600 !important;
      margin: 0 0 20px !important;
      font-size: 16px !important; } }
  li {
    font-size: 13px;
    color: #4d4a42 !important;
    list-style-image: url("../images/icon_check.png");
    margin-bottom: 15px;
    margin-left: 25px;
    padding-left: 5px; } }

.blog iframe {
  padding-bottom: 0; }

.vignette {
  box-shadow: inset 0 0 25px #ddd;
  display: inline-block;
  img {
    margin: auto;
    position: relative;
    z-index: -1; } }

.entry-title {
  margin-bottom: 10px;
  a {
    color: #494949;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; } }

.entry-meta {
  text-transform: uppercase;
  margin-bottom: 15px;
  a {
    color: #3571aa;
    font-size: 11px;
    text-decoration: none; } }

.more-link {
  display: block;
  text-transform: uppercase;
  margin: 25px 0;
  &:after {
    content: url("../images/arrow.png");
    vertical-align: -2px;
    margin-left: 3px; } }

.cat-links {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  a {
    font-size: 11px;
    font-weight: 600;
    text-decoration: none; } }

.comments-link {
  text-transform: uppercase;
  font-size: 11px;
  img {
    padding: 0 8px;
    position: relative;
    vertical-align: -5px; }
  a {
    text-decoration: none; } }

.edit-link {
  font-size: 11px;
  text-transform: uppercase; }

.meta-prep {
  font-size: 11px; }

.meta-sep {
  padding: 0 5px; }

.navigation {
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 20px;
  a {
    text-decoration: none; }
  .nav-previous {
    float: left; }
  .nav-next {
    float: right; } }

.entry-utility {
  color: #4D4A42;
  margin: 0 0 20px;
  a {
    font-weight: 600;
    text-decoration: none; } }

div {
  &.post {
    margin-bottom: 25px !important;
    a.read_more {
      display: block;
      margin-top: 10px;
      font-size: 12px; } }
  &.press_coverage {
    margin-bottom: 25px;
    img {
      display: none; } } }

#comments {
  p {
    font-size: 11px !important;
    color: #4d4a42; }
  textarea {
    margin-left: 10px;
    vertical-align: top; } }

/** Vitrue TV **/

.vid_cont {
  width: 175px;
  height: 280px;
  float: left;
  margin: 0 10px 20px;
  position: relative;
  a {
    text-decoration: none !important;
    margin: 25px 0 20px !important;
    &.demo {
      color: #fff;
      position: absolute;
      left: 0;
      bottom: 5px;
      padding: 5px 20px;
      height: 18px;
      img {
        display: inline-block;
        position: relative;
        margin-left: 5px !important;
        margin-bottom: 0 !important;
        /*top: -14px;*/ } } }
  span.titlec {
    color: #595959 !important;
	font-size: 13px;
	font-weight: 600;
	margin: 15px 0 10px !important; }
  p {
    font-size: 12px !important;
	line-height: 17px !important;
	font-weight: normal !important;
	color: #6E6E6E !important;
	margin-top: 5px !important; }
  img {
    display: block;
    margin-bottom: 10px; } }

.tubepress_thumb {
  width: 185px !important;
  a:first-child {
    position: relative;
    height: 85px !important;
    overflow: hidden;
    width: 150px !important; } }

.tubepress_meta_title {
  width: 160px !important;
  a {
    color: #595959;
    font-size: 14px !important;
    line-height: 15px;
    font-weight: 600;
    text-decoration: none; } }

.pag_nav {
  list-style: none;
  margin: 0px 0 0 -15px;
  padding: 0px;
  li {
    list-style-image: none !important;
    float: left;
    margin: 3px;
    a {
      text-transform: uppercase;
      display: block;
      padding: 5px 12px;
      color: #52799e;
      background-color: #fff;
      text-decoration: none;
      font-size: 11px;
      font-weight: 600;
      &.active {
        color: #fff;
        background-color: #9ebad8; }
      &.inactive {
        background-color: #fff;
        color: #52799e; } } } }

/* No Header Elements */

#content_mid.nh {
  margin-top: -425px;
  position: relative;
  z-index: 2; }

.nh {
  #container_mid {
    background: transparent url("../images/nh_content_top.png") top center no-repeat;
    padding-top: 432px;
    width: 985px; }
  #container_end {
    background: transparent url("../images/nh_content_bottom.png") top center no-repeat;
    display: block;
    height: 17px;
    width: 985px; }
  #content {
    background: transparent url("../images/nh_content_mid.png") top center repeat-y;
    position: relative;
    z-index: 1;
    height: auto; }
  #main_content {
    width: 590px;
    margin-left: 55px;
    margin-top: -400px;
    float: left;
    p {
      color: #4d4a42;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin: 10px 0;
      &.bold {
        color: #595959 !important;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 30px 0; } }
    h1 {
      color:#005a84;
      display: inline;
      margin-right: 20px;
      img {
        margin-left: 10px; } }
    h2 {
      color: #494949;
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: none !important;
      font-family: "cabin"; }
    img {
      max-width: 590px; }
    h1 img {
      margin-left: 0px;
      vertical-align: -15px; }
    ul {
      padding-left: 20px;
      margin-top: 35px;
      #share {
        border-radius: 2px;
        color: #353535;
        display: inline-block;
        font-size: 11px;
        font-weight: 600;
        background: #f3f3f3;
        margin: 50px 0 60px 0;
        padding: 5px;
        text-transform: uppercase;
        .share_fb {
          background: transparent url("../images/btn_like.png") top left no-repeat;
          display: inline-block;
          height: 23px;
          margin: 0 3px;
          padding: 0;
          vertical-align: -8px;
          width: 55px; }
        .share_tw {
          background: transparent url("../images/btn_tweet.png") top left no-repeat;
          display: inline-block;
          height: 23px;
          margin: 0 3px;
          padding: 0;
          vertical-align: -8px;
          width: 65px; }
        .share_email {
          background: transparent url("../images/btn_email.png") top left no-repeat;
          display: inline-block;
          height: 23px;
          margin: 0 3px;
          padding: 0;
          vertical-align: -8px;
          width: 31px; } }
      li {
        color: #4d4a42;
        font-size: 14px;
        list-style-image: url("../images/icon_check.png");
        margin-bottom: 10px; } } }
  #sidebar {
    float: right;
    margin-right: 30px;
    margin-top: -290px;
    width: 253px;
    #fans_served {
      color: #8a8a8a;
      font-weight: 600;
      margin-bottom: 20px;
      margin-left: 15px;
      margin-top: 15px;
      text-transform: uppercase;
      span.large_grey {
        color: #5f5f5f;
        font-size: 25px;
        line-height: 28px; } }
    h2 {
      /*display:block;*/
      font-size: 19px;
      line-height: 25px;
      margin: 20px 0 15px;
      color: #595959; }
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #595959;
      margin-bottom: 0;
      text-transform: uppercase; }
    p {
      color: #6e6e6e;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 10px; }
    a.iframe {
      background: url("../images/btn_find_out.png") top left no-repeat;
      display: block;
      width: 100px;
      height: 31px;
      margin-bottom: 60px; }
    .whitepaper {
      border-bottom: 1px solid #b5b5b6;
      padding: 10px 0 15px;
      &:last-child {
        border: none; }
      .title {
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px; }
      p {
        color: #797979;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px; } }
    .demo {
      background: #b6d435;
      /* Old browsers */
      background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
      /* W3C */
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0 0 1px #8da526;
      padding: 15px;
      color: #f1f9ce;
      span {
        color: #f1f9ce;
        font-size: 24px;
        line-height: 25px;
        img {
          padding-left: 3px; } } } } }

/** Sidebar Elements **/

li.categories {
  color: #595959;
  font: 600 16px / 21px "Ubuntu", arial, sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  ul {
    margin-top: 15px;
    padding-left: 0px;
    margin-bottom: 20px;
    li {
      font: normal 14px / 14px "Cabin", arial, sans-serif;
      height: 12px;
      list-style-type: none;
      text-transform: none;
      vertical-align: top;
      margin-bottom: 8px;
      &:after {
        content: url("../images/arrow.png");
        width: 10px;
        height: 10px;
        vertical-align: -3px; }
      a {
        color: #4d4d4d;
        line-height: 14px;
        vertical-align: top; } } } }

ul {
  &#archives {
    padding-left: 0px;
    margin-bottom: 20px;
    li {
      list-style-type: none;
      font: normal 14px / 14px "Cabin", arial, sans-serif;
      height: 14px;
      margin-bottom: 8px;
      &:after {
        content: url("../images/arrow.png");
        width: 10px;
        height: 10px;
        margin-left: 2px;
        vertical-align: 3px; }
      a {
        color: #4d4d4d;
        line-height: 12px;
        vertical-align: top; } } }
  &#jstwitter {
    padding-left: 0px;
    margin-bottom: 20px;
    li.tweet {
      color: #4d4d4d;
      list-style-type: none;
      margin-bottom: 10px;
      font: normal 12px / 18px "Cabin", arial, sans-serif;
      a {
        font-family: 'Ubuntu', arial, sans-serif;
        font-size: 11px; }
      div.time {
        font-weight: 600; } } } }

div.event {
  margin-left: 25px;
  margin-bottom: 20px;
  p {
    margin-bottom: 5px !important; }
  h4 {
    text-transform: none;
    color: #52799e;
    font-weight: 500;
    &:before {
      content: url("../images/icon_calendar.png");
      margin-left: -25px;
      margin-right: 10px;
      vertical-align: -2px; } }
  #date, #location {
    color: #797979;
    font-size: 13px; } }

.execs {
  margin-bottom: 20px; }

/** Footer Elements **/

footer {
  background: url("../images/footer_back.png") top left repeat-x;
  height: 277px;
  margin-top: -182px;
  position: relative;
  width: 100%;
  z-index: 1;
  #nav_cont {
    text-align: center;
    padding-top: 200px;
    nav {
      display: inline;
      ul {
        display: inline;
        li {
          display: inline; } }
      a {
        color: #9baec0;
        font-size: 11px;
        margin-right: 30px;
        text-transform: uppercase;
        text-decoration: none; } }
    #connect {
      color: #919090;
      display: inline;
      font-size: 11px;
      text-transform: uppercase;
      .fb {
        background: url("../images/icon_fb.png") top left no-repeat;
        width: 19px;
        height: 18px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: text-bottom; }
      .tw {
        background: url("../images/icon_twitter.png") top left no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin: 0px;
        vertical-align: text-bottom; }
	  .gplus {
		background: url("http://www.vitrue.com/wp-content/uploads/2011/11/gplus.png") top left no-repeat;
		width: 22px;
		height: 22px;
		display: inline-block;
		margin:0 0 -2px 10px;
		vertical-align: -5px; } } }
  #copyright {
    color: #7c7a7a;
    margin-top: 30px;
    text-align: center; } }

#main_content {
  .html-sitemap h2 {
    display: table-cell; }
  div {
    &.sitemap h2 + ul {
      &.pages, &.categories, &.archives {
        padding-left: 0;
        margin-left: -20px;
        margin-right: 50px;
        margin-top: 10px;
        position: relative; }
      &.pages li, &.categories li, &.archives li {
        list-style-image: none !important;
        margin-bottom: 5px !important; }
      &.pages li a, &.categories li a, &.archives li a {
        font-size: 12px; }
      &.pages li ul.children, &.categories li ul.children, &.archives li ul.children {
        margin-top: 10px;
        padding-left: 0; } }
    &.cont_pages, &.cont_cats, &.cont_archives {
      display: table-cell; } } }

#overlay {
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 1000; }

#modal {
  display: none;
  background: #fff;
  box-shadow: 0 0 10px #222;
  width: 795px;
  height: 560px;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -377px;
  z-index: 1001;
  #close_cont {
    width: 793px;
    height: 20px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 1px #b8b8b8;
    border: 1px solid #fff;
    opacity: 0.6;
	background: #8c8a8b; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGE4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #8c8a8b 0%, #d1d1d1 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8a8b), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #8c8a8b 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #8c8a8b 0%,#d1d1d1 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #8c8a8b 0%,#d1d1d1 100%); /* IE10+ */

background: linear-gradient(top,  #8c8a8b 0%,#d1d1d1 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8a8b', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */


    }
  #close {
  	position:absolute;
	top:-5px;
	height:32px;
	width:32px;
	right:-13px;
	z-index:1002; }
  #modal_cont {
    width: 755px;
    padding: 20px;
    #mant_form {
      background: #f6f9fc;
      box-shadow: inset 0 0 25px #e9f0f5, 1px 1px 1px #b9c2cc;
      height: 235px;
      padding: 20px;
      width: 386px; }
    label {
      display: block;
      font-size: 11px;
      line-height: 13px;
	  margin-bottom:3px; }
    input {
      &[type=text] {
        width: 165px;
        margin-bottom: 7px;
        padding: 2px; }
      &[type=submit] {
        background: url("http://www.vitrue.com/wp-content/uploads/2011/07/download.png") top left no-repeat;
        display: inline-block;
        width: 119px;
        height: 29px;
        border: none;
        text-indent: -9999px;
        margin-bottom: 7px;
        margin-left: 95px;
        margin-top: 10px;
        cursor: pointer; } }
    select {
	  height:23px;
      width: 190px;
      margin-bottom: 10px;
	  padding: 2px; }
    div {
      float: left;
      width: 50%; } } }

span.close {
  cursor: pointer;
  padding: 0 5px; }

label {
  display: block;
  font-size: 11px;
  line-height: 13px; }

input[type=text] {
  width: 165px;
  margin-bottom: 7px;
  padding: 2px; }

#ProspectPageForm1 input[type=submit] {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  width: 119px;
  height: 29px;
  border: none;
  margin-bottom: 7px;
  margin-left: 0;
  margin-top: 0px;
  cursor: pointer; }

select {
  width: 190px;
  margin-bottom: 10px; }

img {
  &.size-auto, &.size-full, &.size-large, &.size-medium {
    max-width: 100%;
    /* When images are too wide for containing element, force them to fit. */
    height: auto;
    /* Override height to match resized width for correct aspect ratio. */ } }

.attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */ }

.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px; }

.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

img {
  &.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  &.alignleft, &.alignright, &.aligncenter {
    margin-bottom: 12px; } }

.wp-caption {
  background: #fff;
  line-height: 18px;
  margin-bottom: 20px !important;
  max-width: 632px !important;
  /* prevent too-wide images from breaking layout */
  padding: 4px;
  text-align: center;
  img {
    margin: 5px 5px 0 !important; }
  p.wp-caption-text {
    color: #888 !important;
    font-size: 11px !important;
    line-height: 15px !important;
    margin: 5px !important; } }

.fb_iframe_widget {
  width: 590px; }
  
label {
  display: block;
  color: #333;
  font-size: 12px;
  line-height:16px;
  font-weight: 600;
  margin-bottom: 5px; }

input[type=text], textarea {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -webkit-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  padding: 7px;
  font-size: 11px;
  color: #888; }

input[type=text]:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
  -webkit-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
  color: #4d4d4d; }

input[type=text] {
  width: 250px;
  &.ext {
    width: 50px; }
  &.medium {
    width: 175px; } }

input {
  &[type=submit], &[type=button] {
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #888;
    padding: 5px 15px 7px;
    text-transform: uppercase;
    border: none;
    background: #b6d435;
	display:block;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6d435), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #b6d435 0%, #91ab25 100%);
    /* W3C */
    box-shadow: 0 0 1px #8da526;
    -moz-box-shadow: 0 0 1px #8da526;
    -webkit-box-shadow: 0 0 1px #8da526; }
  &[type=submit]:hover, &[type=button]:hover {
    background: #bcdb33;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcdb33), color-stop(100%, #91ab25));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #bcdb33 0%, #91ab25 100%);
    /* W3C */
    box-shadow: 0 0 1px #a4bd35;
    -moz-box-shadow: 0 0 1px #a4bd35;
    -webkit-box-shadow: 0 0 1px #a4bd35; } }

select {
  width: 250px;
  border: none;
  height: 32px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  -moz-box-shadow: 0 0 3px #c0c0c0, inset 0 0 7px #f0f0f0;
  padding: 7px;
  font-size: 11px;
  color: #4d4d4d;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
    -moz-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
    -webkit-box-shadow: 0 0 3px #888, inset 0 0 7px #f0f0f0;
    color: #4d4d4d; } }

div.gallery {width:940px;margin-top:30px;}	
dl.gallery-item{
	float:left;
	padding:10px 10px;
	background:#fff;
	border-radius:2px;
	box-shadow:inset 0 0 15px #f6f6f6, 0 1px 1px #f0f0f0;
	border-top:1px solid #cfcfcf;
	margin:5px;
	width:80px;
	height: 80px;
	dt.gallery-icon {
		width:80px;
		height: 80px;
		display:table-cell;
		vertical-align:middle;
		img {
			display:block;
			line-height:80px; }}}

.analytics_image{
  height:265px;
  width:185px;
  float:left;
  margin: 15px 15px 15px 0;
  position:relative;
  h4 {
    font-size:16px;
    color:#595959;
    font-family:'Cabin';
    font-weight:bold;
    margin-top:25px;
    text-transform: none !important; }
  p{
    position:absolute;
    top:195px; } }

.no-margin {margin:15px 0 0 !important;}

#modal2 {
  display:none;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -435px;
  z-index: 1001;
  #modal_cont{
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 15px #888;
    width:870px;
    height:570px;
    position:relative;
    img{
      padding-top:18px;
      padding-left:18px; } } }

#overlay2 {
  background: transparent;
//  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 1000; }