$charcoal:#4d4d4d;
$gray:#595959;

@mixin content-headers {
	h1 {
	  color:#3b4b79;
	  margin-right:20px;
	  text-transform:uppercase;
	  img {
	  	  vertical-align:-6px;
		  margin-left:10px; }}
	h2 {
	  color:#494949;
	  font-size:20px;
	  margin-bottom:20px;
	  margin-top:45px;
	  text-transform:none !important; }
	h3 {
	  color:#494949;
	  margin-bottom:20px;
	  margin-top:30px; }}
	  
@mixin share {
	#share {
	  border-radius:2px;
	  color:#353535;
	  display:inline-block;
	  font-size:11px;
	  font-weight:600;
	  background:#f3f3f3;
	  margin:50px 0 60px 0;
	  padding:5px;
	  text-transform:uppercase;
	  @include post-share}}
		  
@mixin sidebar {
	#fans_served {
		color: #8a8a8a;
		font-weight:600;
		margin-bottom:20px;
		margin-left:15px;
		margin-top: 15px;
		text-transform:uppercase;
		span.large_grey {
			color:#5f5f5f;
			font-size: 25px;
			line-height:28px; }}
	h2 {
		/*display:block;*/
		font-size:19px;
		line-height:25px;
		margin:20px 0 15px;
		color:$gray; }
	h3 {
		font-size:18px;
		font-weight:600;
		color:$gray;
		margin-bottom:0;
		text-transform:uppercase; }		  
	p {
		color:#6e6e6e;
		font-size:13px;
		line-height:18px;
		margin-bottom:15px; }
	a.iframe {
		background: url('../images/btn_find_out.png') top left no-repeat;
		display:block;
		width:100px;
		height:31px;
		margin-bottom:60px; }
	.whitepaper {
		border-bottom: 1px solid #b5b5b6;
		padding:25px 0;
		&:last-child {
			  border:none; }
		.title {
			  color:$charcoal;
			  font-size:16px;
			  font-weight:600;
			  margin-bottom:15px; }
		p {
			  color:#797979;
			  font-size:14px;
			  line-height:18px;
			  margin-bottom:15px; }}}
			  
@mixin demo {
	.demo {
		background: #b6d435; /* Old browsers */
		background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6d435), color-stop(100%,#91ab25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #b6d435 0%,#91ab25 100%); /* W3C */ 
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		box-shadow:0 0 1px #8da526;
		padding:15px;
		color:#f1f9ce;
		&:hover {
			background: #bcdb33; /* Old browsers */
			background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcdb33), color-stop(100%,#91ab25)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* W3C */ 
			box-shadow:0 0 1px #a4bd35; }
		span {
			color:#f1f9ce;
			font-size:24px;
			line-height:25px;
			img {
				padding-left:3px; }}}}
				
@mixin paragraph-bold {
	p.bold {
	  color:$gray !important;
	  font-size:16px;
	  font-weight:600;
	  line-height:20px;
	  margin:30px 0; }
	img {
	  margin-left:0px;
	  vertical-align: -15px; }
	ul {
	  padding-left:20px;
	  margin-top:35px;
	  @include share;
	  li {
		  color:#4d4a42;
		  font-size:14px;
		  list-style-image: url('../images/icon_check.png');
		  margin-bottom:20px;}}}
		  
@mixin post-share {
	.share_fb {
		  background: transparent url('../images/btn_like.png') top left no-repeat;
		  display:inline-block;
		  height:23px;
		  margin: 0 3px;
		  padding:0;
		  vertical-align:-8px;
		  width:55px; }
	  .share_tw {
		  background: transparent url('../images/btn_tweet.png') top left no-repeat;
		  display:inline-block;
		  height:23px;
		  margin: 0 3px;
		  padding:0;
		  vertical-align:-8px;
		  width:65px; }
	  .share_email {
		  background: transparent url('../images/btn_email.png') top left no-repeat;
		  display:inline-block;
		  height:23px;
		  margin: 0 3px;
		  padding:0;
		  vertical-align:-8px;
		  width:31px; }}

/** Reset CSS **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix { 
	display: inline-table;
	&:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;} }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/** Common Elements  **/

body {
	background: #bad0e5 url('../images/background.png') top center no-repeat;
	box-shadow:inset 0 0 250px #608bbc;
	color:#464646;
	font: normal 13px/17px 'Cabin', arial, sans-serif;
	border-top:60px solid #303030;
	min-width:1125px;
}

a{
	color:#3571aa;
	text-decoration:none; }

li strong {
	font-weight:600;
	color:#494949; }

h1 {font:600 24px/30px 'Ubuntu', arial, sans-serif !important; text-transform: uppercase;text-shadow:0 0 2px #ccc;margin:20px 0 35px !important;}
h2 {font:600 20px/26px 'Ubuntu', arial, sans-serif !important; text-transform: uppercase;text-shadow:0 0 2px #ccc;display:block;}
h3 {font:600 16px/21px 'Ubuntu', arial, sans-serif !important; text-transform: uppercase;text-shadow:0 0 2px #ccc;margin-bottom:10px;}
h4 {font:600 14px/18px 'Ubuntu', arial, sans-serif; text-transform: uppercase;}

strong {
	font-weight: 600; }
	
#container {
	background:#fff; 
	border-radius: 5px; 
	box-shadow:0 0 1px #b1c6dd;
	margin:0 auto;
	padding-bottom:25px;
	position:relative;
 	width:985px;
	z-index:2; }

.block {display:inline-block !important;}	
.bold {font-weight:600;}
.clear { clear: both; }
.share_fb {
	background: transparent url('../images/icon_share_fb.png') top left no-repeat;
	display:inline-block;
	height:17px;
	line-height:19px;
	text-decoration:none;
	margin: 0 5px 0 10px;
	vertical-align:0px;
	padding-left:22px; }
.share_tw {
	background: transparent url('../images/icon_share_tw.png') top left no-repeat;
	display:inline-block;
	height:17px;
	line-height:19px;
	text-decoration:none;
	margin: 0 3px;
	vertical-align:0px;
	padding-left:22px; }


/** Header Elements **/

#connect_tab {
	background: transparent url('../images/connect_tab.png') top left no-repeat;
	position:fixed;
	height:179px;
	width:96px;
	left:0;
	top:210px;
	z-index:3;
	p {
		color:#828282;
		margin-top:10px;
		margin-left:15px; }
	iframe {
		margin-left:17px;
		margin-top:15px; 
		position:relative;
		display:block;
		height:60px;}
	.tw_follow {
		position:absolute;
		left:10px;
		bottom:20px; }
	#connect {
		color:#919090;
		display:inline;
		font-size:11px;
		text-transform: uppercase;
		margin-left:8px;
		.fb {
			background: url('../images/icon_fb.png') top left no-repeat;
			width:19px;
			height:18px;
			display:inline-block;
			margin:8px 10px 0;
			vertical-align:text-bottom; }
		.tw {
			background: url('../images/icon_twitter.png') top left no-repeat;
			width:18px;
			height:18px;
			display:inline-block;
			margin:8px 0px 0;
			vertical-align:text-bottom; }}}

header {
	background:#e9f0f6;
	}
	
#cta {
	display:block;
	margin:-120px auto 0;
	text-align:center;
	a#demo {
		background: transparent url('../images/btn_sign_up.jpg') top left no-repeat;
		display:inline-block;
		height:44px;
		padding:15px;
		width:217px; 
		text-indent: -9999px;}
	a#log_in {
		background: transparent url('../images/btn_log_in.jpg') top left no-repeat;
		display:inline-block;
		height:44px;
		padding:15px;
		width:89px; 
		text-indent: -9999px;}
}

#menu-primary {
	display:block;
	margin:-15px auto 0;
	padding:10px;
	position:relative;
	text-align:center;
	width:575px;
	li {
		display:inline-block;
		position:relative;
		z-index:6;
		a {
			color:#557899;
			font-size:12px;
			font-weight:600;
			padding:10px 15px 14px 10px;
			text-decoration:none;
			text-transform:uppercase;
			&:hover {
			 	color:#a3bf2f; }}
		a.active {
			color:#a3bf2f; }
		a.arrow {
			background: transparent url('../images/blue_arrow.png') center center no-repeat; 
			height: 7px;
			width:6px; 
			padding:5px 8px 14px; 
			position:relative;
			display:inline-block;
			margin-right:2px;
			margin-left:3px;
			vertical-align:-8px; }
		a.arrow.active {
			background: #fff url('../images/green_arrow.png') center center no-repeat; 
			border:1px solid #ebebeb;
			height: 6px;
			width:7px; 
			padding:5px 8px 14px; 
			position:relative;
			display:inline-block;
			margin-right:-5px;
			margin-left:7px;
			margin-top:-5px;
			vertical-align:-8px;
			&:after {
				content: '';
				display: block;
				height: 10px;
				width: 3px;
				position: absolute;
				z-index: -1;
				top: -23px;
				right: 9px;
				box-shadow: 9px 30px 6px black;
				-webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(4deg);
				-moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(0deg); }}
		ul.sub-menu {
			position:absolute;
			top:20px;
			left:7px;
			display:none;
			padding-top:0;
			padding-bottom:5px;
			width:200px;
			text-align:left;
			z-index:10;
			&:before {
				content: '';
				display: block;
				height: 3px;
				width: 100px;
				position: absolute;
				z-index: -1;
				bottom: 6px;
				left: 8px;
				box-shadow: -10px 5px 8px black;
				-webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(-27deg);
				-moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(-27deg); }
			&:after {
				content: '';
				display: block;
				height: 100px;
				width: 3px;
				position: absolute;
				z-index: -1;
				top: -20px;
				right: 8px;
				box-shadow: 9px 30px 8px black;
				-webkit-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(4deg);
				-moz-transform: translate(0px, -7px) skew(0deg, 23deg) rotate(0deg); }
			li {
				background:#f9fafa;
				border-top:1px solid #fff;
				border-left:1px solid #ebebeb;
				border-right:1px solid #ebebeb;
				border-bottom:1px solid #ebebeb;
				display:block;
				text-align:left;
				z-index:10;
				position:relative;
				padding:3px 0;
				&:hover {
					padding:3px 0;
					a {
						background: #b6d435; /* Old browsers */
						background: -moz-linear-gradient(top, #f1f5f9 0%, #e0ecf3 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f9), color-stop(100%,#e0ecf3)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top, #f1f5f9 0%,#e0ecf3 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top, #f1f5f9 0%,#e0ecf3 100%); /* Opera11.10+ */
						background: -ms-linear-gradient(top, #f1f5f9 0%,#e0ecf3 100%); /* IE10+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f9', endColorstr='#e0ecf3',GradientType=0 ); /* IE6-9 */
						background: linear-gradient(top, #f1f5f9 0%,#e0ecf3 100%); /* W3C */ }}
				a {
					color:#557899;
					display:block;
					font-size:11px;
					font-weight:600;
					padding:12px 20px 10px; }
				a.arrow {
					display: none; } 
				ul.sub-menu {
					left:0px;
					padding-top:0px;
					position:relative;
					top:0px;
					width:198px;
					display:block;
					&:before {
						content: '';
						display: none; }
					&:after {
						content: '';
						display: none; }
					li {
						padding:0px !important;
						border:none;
						&:hover {
							box-shadow:none;
							border:none;
							background: #e9f3fc !important; }
						a {	
							background:#fff;
							border:none;
							color:#6b6d6e;
							font-size:11px;
							font-family:'Cabin';
							line-height:11px;
							font-weight:400;
							padding:5px 20px 5px;
							text-transform:none;
							&:hover {
								background: #e9f3fc; /* Old browsers */
								background: -moz-linear-gradient(top, #e9f3fc 0%, #e9f3fc 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f3fc), color-stop(100%,#e9f3fc)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top, #e9f3fc 0%,#e9f3fc 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top, #e9f3fc 0%,#e9f3fc 100%); /* Opera11.10+ */
								background: -ms-linear-gradient(top, #e9f3fc 0%,#e9f3fc 100%); /* IE10+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f3fc', endColorstr='#e9f3fc',GradientType=0 ); /* IE6-9 */
								background: linear-gradient(top, #e9f3fc 0%,#e9f3fc 100%); /* W3C */ }}}}}}}}

#hdr_nav{
	float:right;
	text-align:right;
	display:inline-block;
	margin-top:-90px;
	nav li{
		display:inline-block;
		margin-right:0px;
		margin-bottom:20px;
		text-align:right;
		a{
			color:#a9a9a9;
			margin-right:10px;
			text-decoration:none; }}}
			
span.logo {
	background:transparent url('../images/logo_tab.png') top left no-repeat;
	display:inline-block;
	height:88px;
	margin-top:-20px;
	margin-left:-1px;
	position:relative;
	width:221px; }

#crumbs {
		color:#717171;
		font-size:11px;
		margin-left:10px;
		position:relative;
		top:15px;
		text-align:left;
		z-index:100;
		a {
			color:#557899;
			margin:0 5px;
			text-decoration:none; }
		.current {
			margin:0 5px; }}

#logo {
	margin-top:20px;
	margin-left:30px; }
	
#search {
	margin-right:10px;
	margin-top:15px; }
	
#searchform label {
	display:none; }
	
#searchform #s {
	background: transparent url('../images/search.png') top left no-repeat;
	border: none;
	height:30px;
	padding-left: 5px;
	outline:none;
	width:181px; }
		
#searchsubmit {
	display:none; }
		
#search_box {
	background: transparent url('../images/search.png') top left no-repeat;
	border: none;
	height:30px;
	margin-right:10px;
	width:181px; }

/** Slider Elements **/

#slider {
	background: url('../images/slider_back.jpg') top left no-repeat;
	display:block;
	height:648px;
	position:relative;
	width:985px;
	.product_image {
		margin:0 auto 0;
		position:relative;
		display:block;
		/*margin-left:65px;*/
		z-index:1; }}
		
#slider_nh {
	background: url('../images/slider_back_nh.jpg') top left no-repeat;
	height:465px;
	width:985px;
	padding-top:25px;
	}

#slides {
	height:381px;
	padding-top:30px;
	position:relative;
	width:985px;
	.pagination {
		padding-left:0;
		text-align:center;
		margin-top:-20px;
		z-index:100; 
		li {
			display:inline-block;
			position:relative;
			z-index:100;
			a {
				background: transparent url('../images/hero_off.png') top left no-repeat;
				text-indent:-9999px;
				height:14px;
				margin:0 3px;
				width:14px;
				display:inline-block; }}}
		li.current a {
			background: transparent url('../images/hero_on.png') top left no-repeat; }
	a.next, a.prev {
		position:absolute;
		opacity: 0.7;
		top:180px;
		z-index:2; }
	a.prev {
		left:-50px; }
	a.next {
		right:-50px; }}
	
.slides_container {
    width:985px;
    height:381px;
	position:relative;
	z-index:2;
	div {
		width:985px;
		height:381px;
		display:block;
		position:relative;
		z-index:1; 
		img {
			margin-top:-25px;
			margin-left:20px; }}}
	
#news {
	background: url('../images/news_back.png') top left no-repeat;
	height:49px;
	padding:20px;
	position:relative;
	width:708px;
	h4 {
		color:#3f3f3f;
		font-weight:600;
		display:inline-block;
		margin-top:5px; }
	a.prev {
		left:5px;
		top:8px; }
	a.next {
		right:5px;
		top:8px; }}
	
.news_container {
	width:670px;
	height:60px;
	overflow:hidden;
	position:relative;
	margin-top:-30px;
	img {
		display:none; }
	div {
		display:inline-block;
		position:absolute;
		margin-left:115px;
		margin-top:2px;
		width:460px; }
	h3 {
		color:#4d4a42;
		font-family:'Cabin', sans-serif;
		font-weight:normal !important;
		text-transform: none;
		text-shadow:none; }
	p {
		color:#797979;
		font-size:12px;
		font-style:italic; }} 

#news_nav_back {
	background: url('../images/news_nav_back.jpg')top left no-repeat;
	height:29px;
	position:absolute;
	left:182px;
	width:50px;
	top:19px;
	a.next, a.prev {
		position:absolute;
		z-index:2; }}

/** Main Content **/

#content_mid { 
	margin-top:-225px;
	position:relative;
	z-index:2;}
	
#content_mid.product { 
	margin-top:-300px;
	position:relative;
	z-index:2;}
	
#content_mid.secondary { 
	margin-top:-245px;
	position:relative;
	z-index:2;}
	
#content_mid.small_hero { 
	margin-top:-245px;
	position:relative;
	z-index:2;}

#container_mid {
	background: transparent url('../images/content_top.png') top center no-repeat;
	padding-top:218px;
	width:985px;
	height:218px; }
	
.product #container_mid {
	background: transparent url('../images/product_content_top.png') top center no-repeat;
	padding-top:747px;
	width:985px;
	}
	
.secondary #container_mid {
	background: transparent url('../images/secondary_content_top.png') top center no-repeat;
	padding-top:230px;
	width:985px;
	height:auto;
	}
	
.small_hero #container_mid {
	background: transparent url('../images/product_content_top.png') top center no-repeat;
	padding-top:747px;
	width:985px;
	height:auto; }
	
#container_end {
	background: transparent url('../images/content_bottom.png') top center no-repeat;
	display:block;
	height:20px;
	width:985px; }
	
.product #container_end {
	background: transparent url('../images/product_content_bottom.png') top center no-repeat;
	display:block;
	height:17px;
	width:985px; }
	
.secondary #container_end {
	background: transparent url('../images/secondary_content_bottom.png') top center no-repeat;
	display:block;
	height:17px;
	width:985px; }
	
.small_hero #container_end {
	background: transparent url('../images/product_content_bottom.png') top center no-repeat;
	display:block;
	height:17px;
	width:985px; }
	
#content {
	background: transparent url('../images/content_mid.png') top center repeat-y;
	height: auto; }
	
.product #content {
	background: transparent url('../images/product_content_mid.png') top center repeat-y;
	height: auto; }
	
.secondary #content {
	background: transparent url('../images/secondary_content_mid.png') top center repeat-y;
	height: auto; }
	
.small_hero #content {
	background: transparent url('../images/product_content_mid.png') top center repeat-y;
	height: auto; }
	
#main_content {
	width:710px;
	margin-left:35px;
	margin-top:-200px;
	float:left;
	h1 {
		margin-bottom: 40px; }
	p {
		margin:0 0 15px; }}
	
.product #main_content {
	@include content-headers;
	width:590px;
	margin-left:55px;
	margin-top:-720px;
	float:left;
	@include paragraph-bold}
		  
.secondary #main_content {
	@include content-headers;
	width:623px;
	margin-left:55px;
	margin-top:-200px;
	float:left;
	
	@include paragraph-bold}
		  
.small_hero #main_content {
	width:600px;
	margin-left:55px;
	margin-top:-720px;
	float:left;
	p {
	  color:#797671;
	  font-size:14px;
	  font-weight:600;
	  line-height:22px;
	  margin:0 0 15px; }
	p.bold {
	  color:$gray !important;
	  font-size:16px;
	  font-weight:600;
	  line-height:20px;
	  margin:30px 0; }
	h1 {
	  font-weight:600;	  
	  img {
		  margin-left:10px; }}
	h2 {
	  font-family:'Cabin',sans-serif !important;
	  color:#494949;
	  text-transform:none !important;
	  text-shadow:none; }
	img {
	  margin-left:0px;
	  vertical-align: -15px; }
	ul {
	  padding-left:20px;
	  margin-top:35px;
	  @include share;
	  li {
		  color:#4d4a42;
		  font-size:14px;
		  list-style-image: url('../images/icon_check.png');
		  margin-bottom:20px;}}}
		  

	
#marketing {
	margin-bottom:15px;
	position:relative;
	a {
	  position:absolute;
	  right:25px;
	  bottom:16px; }}

.demo {
	background: #b6d435; /* Old browsers */
	background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6d435), color-stop(100%,#91ab25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b6d435 0%,#91ab25 100%); /* W3C */ 
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 0 1px #8da526;
	&:hover {
		background: #bcdb33; /* Old browsers */
		background: -moz-linear-gradient(top, #bcdb33 0%, #91ab25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcdb33), color-stop(100%,#91ab25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdb33', endColorstr='#91ab25',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #bcdb33 0%,#91ab25 100%); /* W3C */ 
		box-shadow:0 0 1px #a4bd35; }
	span {
		color:#f1f9ce;
		font-size:24px;
		line-height:25px;
		img {
			padding-left:3px; }}}

#sidebar {
	float:left;
	margin-left:40px;
	margin-top:-150px;
	.demo {
		color:#676768;
		background:none;
		border:none;
		box-shadow:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		display:block;
		font-weight:500;
		text-transform: uppercase;
		span.large_green {
			border-bottom: 1px solid #d3d5d5;
			color:#98b226;
			font-size: 25px;
			font-weight: 700;
			line-height: 26px;
			padding:0 5px 10px 0; }}
	#fans_served {
		color: #8a8a8a;
		font-weight:600;
		margin-top: 25px;
		text-transform:uppercase;
		span.large_grey {
			color:#5f5f5f;
			font-size: 25px;
			line-height:28px; }}}
			
.product #sidebar {
	float:right;
	margin-right:30px;
	margin-top:-690px;
	width:253px;
	@include sidebar;
	@include demo;}
			  
.secondary #sidebar {
	float:right;
	margin-right:30px;
	margin-top:-150px;
	width:230px;
	@include sidebar;
	@include demo;
	}
			  
.small_hero #sidebar {
	float:right;
	margin-right:30px;
	margin-top:-690px;
	width:253px;
	@include sidebar;
	@include demo;}
			  


#clients {
	float:left;
	margin:45px 0 45px 35px;
	padding:0 10px;
	width:355px;
	h2 {
		color:#494949;
		font-size:22px;
		font-weight: 600;
		margin-bottom:10px; }
	p {
		color:#6e6e6e;
		font-size:14px;
		line-height: 17px;
		margin-bottom:30px; }
	a { 
		background: transparent url('../images/btn_view_more.png') top left no-repeat;
		display:block;
		height:32px;
		margin-top:10px;
		position:relative;
		width:135px; }}

#outtakes {
	float:right;
	margin:45px 35px 45px 0;
	width:540px;
	div {
		display: block;
		position:relative;
		a {
		  bottom:15px;
		  color:#52799e;
		  font-family: 'Ubuntu';
		  font-weight: 600;
		  font-size:11px;
		  left:225px;
		  line-height:14px;
		  position:absolute;
		  padding-top:4px;
		  text-transform:uppercase;
		  img {
			  vertical-align: text-top; }}}
	img {
		margin-right:25px; }
	h3 {
		color: #494949;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 10px; }
	p { 
		color:#6e6e6e;
		font-size: 14px;
		line-height:17px; }
	hr {
		border:none;
		height:1px;
		background:#d3d5d5;
		margin:20px 0; }}
		
/** Landing Pages **/

#featured {
	position:relative;
	text-align:center;
	width:auto;
	img {
		position:relative;
		margin:0 auto; }}
		
#platforms {
	width:100%;
	display:inline-block;
	position:relative;
	margin-left:10px;
	text-align:center;
	padding:10px 30px;
	.cont_1, .cont_2, .cont_3, .cont_4 {
		height:275px;
		position:relative;
		a {
			position:absolute;
			bottom: 5px; }}
	div {
		padding:12px;
		width:20%;
		float:left;
		text-align:left;
		h3 {
			color:$gray;
			font-weight:600;
			font-size:18px;
			margin:20px 0 15px 0; }
		p {
			font-size: 13px;
			line-height:18px;
			color:#6e6e6e;
			margin-bottom:25px; }
		.demo {
			padding:5px;
			margin-top:20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#eeefe6;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			box-shadow:0 0 1px #8da526;
			font-size:11px;
			font-weight:600; }
			img{
				padding-left:3px; 
				vertical-align:-1px;}}}
				
#cont_pane {
	float:left;
	width:400px;
	padding:30px;
	margin-left:20px; 
	h3 {
		color:#494949;
		font-size:18px;
		font-weight:600;
		line-height:24px; }
	ul {
	  padding-left:20px;
	  margin-top:35px;
	  li {
		  color:#4d4a42;
		  font-size:14px;
		  line-height:19px;
		  list-style-image: url('../images/icon_check.png');
		  margin-bottom:20px; }}}
		  
#share {
	  border-radius:2px;
	  border:1px solid #efefef;
	  color:#353535;
	  display:inline-block;
	  font-size:11px;
	  font-weight:600;
	  background:#f3f3f3;
	  margin-top:35px;
	  margin-bottom:35px;
	  position:relative;
	  left:45px;
	  padding:5px;
	  text-transform:uppercase;
	  @include post-share}
		  
#share-post {
	  border-radius:2px;
	  border:1px solid #d8dde0;
	  box-shadow:0 -1px 1px #ccc;
	  color:#353535;
	  display:inline-block;
	  font-size:11px;
	  font-weight:600;
	  background:#f3f3f3;
	  margin-top:5px;
	  margin-bottom:25px;
	  position:relative;
	  left:0px;
	  padding:5px;
	  text-transform:uppercase;
	  width:590px;
	  .share_fb {
		  background: transparent url('../images/icon_share_fb.png') top left no-repeat;
		  display:inline-block;
		  height:17px;
		  line-height:19px;
		  text-decoration:none;
		  margin: 0 5px 0 10px;
		  vertical-align:0px;
		  padding-left:22px; }
	  .share_tw {
		  background: transparent url('../images/icon_share_tw.png') top left no-repeat;
		  display:inline-block;
		  height:17px;
		  line-height:19px;
		  text-decoration:none;
		  margin: 0 3px;
		  vertical-align:0px;
		  padding-left:22px; }
	  .share_email {
		  background: transparent url('../images/icon_share_link.png') top left no-repeat;
		  display:inline-block;
		  height:17px;
		  line-height:19px;
		  text-decoration:none;
		  margin: 0 3px;
		  vertical-align:0px;
		  padding-left:22px; }}
		  
#share-mgmt {
	  border-radius:2px;
	  border:1px solid #d8dde0;
	  box-shadow:0 -1px 1px #ccc;
	  color:#353535;
	  display:inline-block;
	  font-size:11px;
	  font-weight:600;
	  background:#f3f3f3;
	  margin-top:5px;
	  margin-bottom:25px;
	  position:relative;
	  left:0px;
	  padding:5px;
	  text-transform:uppercase;
	  .share_fb {
		  background: transparent url('../images/icon_share_fb.png') top left no-repeat;
		  display:inline-block;
		  height:17px;
		  line-height:19px;
		  text-decoration:none;
		  margin: 0 5px 0 10px;
		  vertical-align:0px;
		  padding-left:22px; }
	  .share_tw {
		  background: transparent url('../images/icon_share_tw.png') top left no-repeat;
		  display:inline-block;
		  height:17px;
		  line-height:19px;
		  text-decoration:none;
		  margin: 0 3px;
		  vertical-align:0px;
		  padding-left:22px; }
	  .share_email {
		  background: transparent url('../images/icon_share_link.png') top left no-repeat;
		  display:inline-block;
		  height:17px;
		  line-height:19px;
		  text-decoration:none;
		  margin: 0 3px;
		  vertical-align:0px;
		  padding-left:22px; }}
		  
div.whitepapers {
	height:340px;
	width:187px;
	float:left;
	font-size:12px !important;
	margin-right:13px;
	position:relative;
	h3 {
		margin-top:0px;
		text-transform:none !important;
		font-family:'Cabin' !important; }
	p{
		font-size:12px !important;
		line-height:18px !important; }
	img.download {
		color:#fff;
		bottom:0;
		padding:0;
		font-weight:600 Important;
		position:absolute; }}
		
.prod_squares {
	width:205px;
	float:left;
	margin-right:25px;
	margin-bottom:25px; }
		  
/** Blog **/

#content_mid.blog { 
	margin-top:-275px;
	position:relative;
	z-index:2;}

.blog #container_mid {
	background: transparent url('../images/product_content_top.png') top center no-repeat;
	padding-top:747px;
	width:985px;
	}
	
.blog #container_end {
	background: transparent url('../images/product_content_bottom.png') top center no-repeat;
	display:block;
	height:17px;
	width:985px; }
	
.blog #content {
	background: transparent url('../images/product_content_mid.png') top center repeat-y;
	position:relative;
	z-index:1;
	height: auto; }

.blog #main_content {
	width:590px;
	margin-left:55px;
	margin-top:-720px;
	float:left;
	p {
	  color:#4d4a42;
	  font-size:14px;
	  font-weight:400;
	  line-height:22px;
	  margin:30px 0; }
	p.bold {
	  color:$gray !important;
	  font-size:16px;
	  font-weight:600;
	  line-height:20px;
	  margin:30px 0; }
	h1 {
	  color:#3b4b79;
	  display:inline;
	  font-weight:600;
	  font-size:24px;
	  margin-right:20px;
	  text-transform:uppercase;
	  img {
		  margin-left:10px; }}
	h2 {
	  color:#494949;
	  font-size:20px;
	  margin-bottom:20px;
	  margin-top:45px; }
	h1 img {
	  margin-left:0px;
	  vertical-align: -15px; }
	img, div {
	  max-width:600px; }
	ul {
	  padding-left:20px;
	  margin-top:35px;
	  @include share;
	  li {
		  color:#4d4a42;
		  font-size:14px;
		  list-style-image: url('../images/icon_check.png');
		  margin-bottom:20px;}}}
		  
.blog #sidebar {
	float:right;
	margin-right:30px;
	margin-top:-690px;
	width:253px;
	@include sidebar;
	.demo {
		background: #b6d435; /* Old browsers */
		background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6d435), color-stop(100%,#91ab25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #b6d435 0%,#91ab25 100%); /* W3C */ 
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		box-shadow:0 0 1px #8da526;
		padding:15px;
		color:#f1f9ce;
		span {
			color:#f1f9ce;
			font-size:24px;
			line-height:25px;
			img {
				padding-left:3px; }}}}
		  
.entry-content {
	color:#4d4a42 !important;	
	line-height:18px;
	position:relative;
	.alignleft {
		float:left;
		margin:0 10px 10px 0;
		vertical-align:text-top !important; }
	p {
		color:#4d4a42 !important;
		font-size:13px !important;
		line-height:20px !important;
		font-weight:normal !important;
		margin-bottom: 25px;
		margin-top:0; 
		a {
		text-decoration:none; }}
	p.bold {
		font-weight:600 !important;
		margin:0 0 20px !important; 
		font-size:16px !important;}
	li {
		font-size:13px;
		color:#4d4a42 !important;
		list-style-image: url('../images/icon_check.png');
		margin-bottom: 15px;
		margin-left:25px;
		padding-left:5px; }}

.blog iframe {
	padding-bottom:0;
	margin-bottom:-20px; }
			
.vignette {
	box-shadow:inset 0 0 25px #ddd;
	display:inline-block;
	img {
		margin:auto;
		position:relative;
		z-index:-1; }}
		
.entry-title {
	margin-bottom:10px;
	a {
	  color:#494949;
	  font-size:20px;
	  font-weight:600;
	  text-decoration:none; }}

.entry-meta {
	text-transform: uppercase;
	margin-bottom:15px;
	a {
		color:#3571aa;
		font-size:11px;
		text-decoration:none; }}

.more-link {
	display:block;
	text-transform:uppercase;
	margin:25px 0;
	&:after {
		content: url('../images/arrow.png');
		vertical-align:-2px;
		margin-left: 3px; }}
	
.cat-links {
	font-size:11px;
	font-weight:600;
	text-transform:uppercase;
	a {
		font-size:11px;
		font-weight:600;
		text-decoration:none; }}
	
.comments-link {
	text-transform:uppercase;
	font-size:11px;
	img {
		padding:0 8px;
		position:relative;
		vertical-align:-5px; }
	a {
		text-decoration:none; }}
		
.edit-link {
	font-size:11px;
	text-transform:uppercase; }

.meta-prep {
	font-size:11px; }
		
.meta-sep {
	padding:0 5px; }
	
.navigation {
	font-size:11px;
	font-weight:600;
	margin:0 0 20px;
	a {
		text-decoration:none; }
	.nav-previous {
		float: left; }
	.nav-next {
		float: right; }}
		
.entry-utility {
	color:#4D4A42;
	margin:0 0 20px;
	a {
		font-weight:600;
		text-decoration:none; }}
		
div.post {
	margin-bottom:25px !important;
	a.read_more {
		display:block;
		margin-top:10px;
		font-size:12px; }}
	
div.press_coverage {
	margin-bottom:25px;
	img { 
		display:none; }}
		
#comments {
	p {
		font-size:11px !important;
		color:#4d4a42; }
	textarea {
		margin-left:10px;
		vertical-align:top; }}
		
/** Vitrue TV **/

.vid_cont {
	width:175px;
	height:285px;
	float:left;
	margin:0 10px 20px;
	position:relative;
	a {
		text-decoration:none !important;
		margin:25px 0 20px !important; }
	a.demo {
		color:#fff;
		position:absolute;
		left:0;
		bottom:5px;
		padding:5px 20px;
		height:18px;
		img {
			display:inline-block;
			position:relative;
			margin-left:5px !important;
			margin-bottom:0 !important;
			top:-14px; }}
	span.titlec {
		color:$gray !important;
		font-size:15px;
		font-weight:600;
		margin:25px 0 20px !important; }
	p {
		font-size:13px !important;
		line-height:17px !important;
		font-weight:normal !important;
		color:#6e6e6e !important;
		margin-top:10px !important; }
	img {
		display:block;
		margin-bottom:15px; }}

.tubepress_thumb {
	width:185px !important;
	a:first-child {
		position:relative;
		height:85px !important;
		overflow:hidden;
		width:150px !important; }}

.tubepress_meta_title {
	width:160px !important;
	a {
		color:$gray;
		font-size:14px !important;
		line-height: 15px;
		font-weight:600;
		text-decoration: none; }}
	
.pag_nav {list-style:none; margin:0px 0 0 -15px; padding:0px;}
.pag_nav li{list-style-image:none !important;float:left; margin:3px;}
.pag_nav li a{text-transform:uppercase; display:block; padding:5px 12px; color:#52799e; background-color:#fff; text-decoration:none;font-size:11px;font-weight:600;}
.pag_nav li a.active {color:#fff; background-color:#9ebad8;}
.pag_nav li a.inactive {background-color:#fff; color:#52799e;}

/* No Header Elements */

#content_mid.nh { 
	margin-top:-425px;
	position:relative;
	z-index:2;}

.nh #container_mid {
	background: transparent url('../images/nh_content_top.png') top center no-repeat;
	padding-top:432px;
	width:985px;
	}
	
.nh #container_end {
	background: transparent url('../images/nh_content_bottom.png') top center no-repeat;
	display:block;
	height:17px;
	width:985px; }
	
.nh #content {
	background: transparent url('../images/nh_content_mid.png') top center repeat-y;
	position:relative;
	z-index:1;
	height: auto; }

.nh #main_content {
	width:590px;
	margin-left:55px;
	margin-top:-400px;
	float:left;
	p {
	  color:#4d4a42;
	  font-size:14px;
	  font-weight:400;
	  line-height:22px;
	  margin:30px 0; }
	p.bold {
	  color:$gray !important;
	  font-size:16px;
	  font-weight:600;
	  line-height:20px;
	  margin:30px 0; }
	h1 {
	  color:#3b4b79;
	  display:inline;
	  margin-right:20px;
	  img {
		  margin-left:10px; }}
	h2 {
	  color:#494949;
	  margin-bottom:20px;
	  margin-top:45px;
	  text-transform:none !important;
	  font-family:"cabin"; }
	img {
		max-width:590px; }
	h1 img {
	  margin-left:0px;
	  vertical-align: -15px; }
	ul {
	  padding-left:20px;
	  margin-top:35px;
	  @include share;
	  li {
		  color:#4d4a42;
		  font-size:14px;
		  list-style-image: url('../images/icon_check.png');
		  margin-bottom:20px;}}}
		  
.nh #sidebar {
	float:right;
	margin-right:30px;
	margin-top:-290px;
	width:253px;
	@include sidebar;
	.demo {
		background: #b6d435; /* Old browsers */
		background: -moz-linear-gradient(top, #b6d435 0%, #91ab25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6d435), color-stop(100%,#91ab25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #b6d435 0%,#91ab25 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d435', endColorstr='#91ab25',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #b6d435 0%,#91ab25 100%); /* W3C */ 
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		box-shadow:0 0 1px #8da526;
		padding:15px;
		color:#f1f9ce;
		span {
			color:#f1f9ce;
			font-size:24px;
			line-height:25px;
			img {
				padding-left:3px; }}}}
			  
/** Sidebar Elements **/

li.categories {
	color:$gray;
	font:600 16px/21px 'Ubuntu', arial, sans-serif;
	list-style-type:none;
	text-transform:uppercase;
	ul {
		margin-top:15px;
		padding-left:0px;
		margin-bottom:20px;
		li {
			font:normal 14px/14px 'Cabin',arial, sans-serif;
			height:12px;
			list-style-type:none;
			text-transform:none;
			vertical-align:top;
			margin-bottom:8px;
			&:after {
				content:url('../images/arrow.png');
				width:10px;
				height:10px;
				vertical-align:-3px; }
			a { 
				color:$charcoal;
				line-height:14px;
				vertical-align:top; }}}}
				
ul#archives {
	padding-left:0px;
	margin-bottom:20px;
	li {
		list-style-type:none;
		font:normal 14px/14px 'Cabin',arial, sans-serif;
		height:14px;
		margin-bottom:8px;
		&:after {
				content:url('../images/arrow.png');
				width:10px;
				height:10px;
				margin-left:2px;
				vertical-align:3px; }
		a { 
			color:$charcoal;
			line-height:12px;
			vertical-align:top; }}}
			
ul#jstwitter {
	padding-left:0px;
	margin-bottom:20px;
	li.tweet {
		color:$charcoal;
		list-style-type:none;
		margin-bottom:10px;
		font:normal 12px/18px 'Cabin',arial, sans-serif;
		a {
			font-family: 'Ubuntu', arial, sans-serif;
			font-size:11px; }
		div.time { 
			font-weight:600; }}}
			
div.event {
	margin-left:25px;
	margin-bottom:20px;
	p {
		margin-bottom:0; }
	h4 {
		text-transform:none;
		color:#52799e;
		font-weight:500;
		&:before {
			content: url('../images/icon_calendar.png');
			margin-left:-25px;
			margin-right:10px;
			vertical-align:-2px; }}
	#date, #location {
		color:#797979;
		font-size:13px; }}
		
.execs {
	margin-bottom:20px; }
	
/** Footer Elements **/

footer {
	background: url('../images/footer_back.png') top left repeat-x;
	height:277px;
	margin-top:-182px;
	position:relative;
	width:100%;
	z-index:1;
	#nav_cont {
		text-align:center;
		padding-top:200px;
		nav {
			display:inline;
			ul {
				display:inline;
				li{
					display:inline; }}
			a {
				color:#9baec0;
				font-size:11px;
				margin-right: 30px;
				text-transform: uppercase;
				text-decoration:none; }}
		#connect {
			color:#919090;
			display:inline;
			font-size:11px;
			text-transform: uppercase;
			.fb {
				background: url('../images/icon_fb.png') top left no-repeat;
				width:19px;
				height:18px;
				display:inline-block;
				margin:0 10px;
				vertical-align:text-bottom; }
			.tw {
				background: url('../images/icon_twitter.png') top left no-repeat;
				width:18px;
				height:18px;
				display:inline-block;
				margin:0px;
				vertical-align:text-bottom; }}}
	#copyright {
		color:#7c7a7a;
		margin-top:30px;
		text-align:center; }}
		
#main_content .html-sitemap h2 {
	display:table-cell; }
		
#main_content div.sitemap h2 + ul.pages, #main_content div.sitemap h2 + ul.categories, #main_content div.sitemap h2 + ul.archives {
	padding-left:0;
	margin-left:-20px;
	margin-right:50px;
	margin-top:10px;
	position:relative;
	li{
		list-style-image:none !important;
		margin-bottom:5px !important;
		a {
			font-size:12px; }
		ul.children {
			margin-top:10px;
			padding-left:0; }}}
	
#main_content div.cont_pages, #main_content div.cont_cats, #main_content div.cont_archives {
	display:table-cell; }

#overlay {
	background:#000;
	opacity:0.5;
	position:absolute;
	top:0;
	z-index:1000; }
	
#modal {
	display:none;
	background:#fff;
	box-shadow:0 0 10px #222;
	width:795px;
	height:560px;
	position:absolute;
	top:350px;
	left:50%;
	margin-left:-377px;
	z-index:1001;
	#close_cont {
		width:793px;
		height:20px;
		margin-bottom:15px;
		box-shadow: inset 0 0 1px #b8b8b8;
		border:1px solid #fff;
		opacity:0.6;
		background: #c9c9c9; /* Old browsers */
		background: -moz-linear-gradient(top, #c9c9c9 0%, #d4d4d4 62%, #b6b6b6 64%, #a9a9a9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(62%,#d4d4d4), color-stop(64%,#b6b6b6), color-stop(100%,#a9a9a9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #c9c9c9 0%,#d4d4d4 62%,#b6b6b6 64%,#a9a9a9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #c9c9c9 0%,#d4d4d4 62%,#b6b6b6 64%,#a9a9a9 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #c9c9c9 0%,#d4d4d4 62%,#b6b6b6 64%,#a9a9a9 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a9a9a9',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #c9c9c9 0%,#d4d4d4 62%,#b6b6b6 64%,#a9a9a9 100%); /* W3C */ }
	#modal_cont {
		width:755px;
		padding:20px;
		#mant_form {
			background:#f6f9fc;
			box-shadow: inset 0 0 25px #e9f0f5, 1px 1px 1px #b9c2cc;
			height:235px;
			padding:20px;
			width:386px; }
			label {
				display:block;
				font-size:11px;
				line-height:13px; }
			input[type=text] {
				padding:2px; }
			input[type=text] {
				width:165px;
				margin-bottom:7px; }
			input[type=submit] {
				background: url('http://localhost/Vitrue/wp-content/uploads/2011/07/download.png') top left no-repeat;
				display:inline-block;
				width:119px;
				height:29px;
				border:none;
				text-indent:-9999px;
				margin-bottom:7px;
				margin-left:80px;
				margin-top:25px;
				cursor: pointer; }
			select {
				width:190px;
				margin-bottom:10px; }
			div {
				float:left;
				width:50%; }}}
				
span.close {
	cursor:pointer;
	padding:0 5px; }